* {
  box-sizing: border-box;
}

<style>
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');

.cam * {
  font-family: 'Libre Franklin', sans-serif;
  margin: 0;
  padding: 0;
}
.cam-container {
  margin: 0 auto;
  padding: 0 100px 70px;
  width: 1200px;
}

.cam-header {
  background: url(../img/cam-header-bg.jpg) center / 100% 100% no-repeat;
  margin-bottom: 40px;
  padding: 85px 100px 115px;
}
.cam-header h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 11px;
}
.cam-header h2 {
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
}
.cam-header h1 span,
.cam-header h2 span {
  background-color: #fff;
  display: inline-block;
  padding: 9px 6px;
}

.cam-element {
  border-top: 4px solid #023762;
  display: flex;
  flex-direction: row;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.cam-element:not(:last-child) {
  margin-bottom: 40px;
}
.cam-data {
  padding: 30px;
}
.cam-img {
  padding: 40px 30px 50px;
}
.cam-img img {
  height: 500px;
  width: 435px;
}
.cam-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}
.cam-title img {
  margin-right: 10px;
  height: 60px;
  width: 60px;
}
.cam-title h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}
.cam-title h2 span {
  display: block;
  font-size: 18px;
}
.cam-data p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}
.cam-data ul {
  list-style: none;
  margin-bottom: 55px;
  padding: 0 0 0 30px;
}
.cam-data ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  position: relative;
}
.cam-data ul li:before {
  content: "";
  background: url(../img/cam-icon-check.png) center / 100% 100% no-repeat;
  position: absolute;
  left: -20px;
  top: 5px;
  height: 15px;
  width: 15px;
}
.cam-data a {
  background-color: #ba2532;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 60px;
  padding: 11px 30px;
  text-decoration: none;
}
.cam-pay {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
.cam-pay h2 {
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
  width: 100px;
}
.cam-pay--1 span,
.cam-pay--2 span {
  color: #29ca9b;
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-top: 8px;
}
h2.cam-pay--1 {
  margin-right: 20px;
}
h2.cam-pay--3 {
  margin-left: auto;
  width: 170px;
}
h2.cam-pay--3 span {
  display: block;
  font-weight: 500;
  line-height: 16px;
}
<style/>