<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
#ad.ad h1,
#ad.ad h2,
#ad.ad h3,
#ad.ad h4,
#ad.ad h5,
#ad.ad h6,
#ad.ad li,
#ad.ad p {
  color: #000;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  margin: 0;
}


#ad .ad-container {
  background-color: #f4f4f4;
  margin: 0 auto;
  width: 1200px;
}


#ad .ad-header {
  background: url(https://stg-comm-jp-author-services.edanz.com/sites/default/files/header-bg.jpg) center / 100% 100% no-repeat;
  padding: 80px 110px 65px 90px;
}
#ad .ad-header h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 11px;
}
#ad .ad-header h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 11px;
}
#ad .ad-header h1 span,
#ad .ad-header h2 span {
  background-color: #fff;
  display: inline-block;
  padding: 8px 10px;
}
#ad .ad-header a {
  background-color: #BA2532;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  padding: 10px 27px;
}


#ad .ad-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 110px 120px 90px;
}


#ad .ad-left {
  background-color: #fff;
  border-top: 5px solid #023762;
  padding: 30px 30px 100px;
  width: 700px;
}
#ad .ad-left hr {
  background-color: #bbb;
  margin: 0;
  height: 1px;
}

#ad .ad-left__title {
  text-align: center;
}
#ad .ad-left__title img {
  height: 60px;
  width: 60px;
}
#ad .ad-left__title h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 35px;
}

#ad .ad-left__description {
  padding-bottom: 95px;
}
#ad .ad-left__description p {
  font-size: 16px;
  line-height: 26px;
}
#ad .ad-left__description ul {
  list-style: none;
  padding: 0;
}
#ad .ad-left__description ul li {
  font-size: 16px;
  line-height: 26px;
}

#ad .ad-left__biglist {
  padding: 60px 0 0;
}
#ad .ad-left__biglist h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
}
#ad .ad-left__biglist h3 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  text-align: center;
}
#ad .ad-left__list {
  list-style: none;
  padding-left: 100px;
}
#ad .ad-left__list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
#ad .ad-left__list li h4 {
  background-color: #023762;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 700;
  margin-right: 20px;
  height: 40px;
  width: 40px;
}
#ad .ad-left__list li p {
  font-size: 12px;
  line-height: 26px;
}
#ad .ad-left__list li p span {
  color: #203762;
  display: block;
  font-size: 16px;
  line-height: 26px;
}
#ad .ad-left__biglist > p {
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 70px;
  padding-left: 100px;
}

#ad .ad-left__check {
  padding: 80px 0 70px;
}
#ad .ad-left__check h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 20px;
  text-align: center;
}
#ad .ad-left__check h3 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
  text-align: center;
}
#ad .ad-left__check p {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
  padding-left: 100px;
}
#ad .ad-left__check p img {
  margin-right: 10px;
  height: 15px;
  width: 15px;
}

#ad .ad-left__info {
  padding: 80px 0 90px;
  text-align: center;
}
#ad .ad-left__info h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 13px;
}
#ad .ad-left__info p {
  font-size: 16px;
  line-height: 26px;
}
#ad .ad-left__info p a {
  color: #BA2532;
  text-decoration: underline;
}

#ad .ad-left__btn {
  text-align: center;
}
#ad .ad-left__btn a {
  background-color: #ba2532;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
  padding: 10px 50px;
}


#ad .ad-right {
  width: 240px;
}
#ad .ad-right__top,
#ad .ad-right__bot {
  background: url(https://stg-comm-jp-author-services.edanz.com/sites/default/files/right-header-bg.png) top center / 100% auto no-repeat, #fff;
  border-bottom: 5px solid #023762;
  padding: 0 20px;
}
#ad .ad-right__header h2 {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 0 18px;
  text-align: center;
}
#ad .ad-right__top {
  margin-bottom: 25px;
}
#ad .ad-right__top p {
  display: block;
  font-size: 16px;
  line-height: 26px;
}
#ad .ad-right__top p:nth-of-type(1) {
  margin: 25px 0 15px;
}
#ad .ad-right__top p:nth-of-type(2) {
  margin: 25px 0 85px;
}
#ad .ad-right__top hr {
  background-color: #bbb;
  height: 1px;
}

#ad .ad-right__bot {

}
#ad .ad-right__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0 35px;
}
#ad .ad-right__icon {
  width: 60px;
}
#ad .ad-right__icon a {
  display: block;
  margin-bottom: 10px;
  height: 60px;
  width: 100%;
}
#ad .ad-right__icon a img {
  width: 100%;
}
#ad .ad-right__icon h5 {
  font-size: 12px;
  line-height: 26px;
  text-align: center;
}
</style>