<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
#pbp.pbp h1,
#pbp.pbp h2,
#pbp.pbp h3,
#pbp.pbp h4,
#pbp.pbp h5,
#pbp.pbp h6,
#pbp.pbp a,
#pbp.pbp li,
#pbp.pbp p {
  color: #000;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  margin: 0;
}


#pbp .pbp-container {
  background-color: #FAFAFA;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}


#pbp .pbp-header {
  background: url(https://edanz.com/sites/default/files/header-bg-edit.png) center / cover no-repeat;
  padding: 80px 110px 65px 90px;
}
#pbp .pbp-header h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 11px;
}
#pbp .pbp-header h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 11px;
}
#pbp .pbp-header h1 span,
#pbp .pbp-header h2 span {
  background-color: #fff;
  display: inline-block;
  padding: 8px 10px;
}
#pbp .pbp-header a {
  background-color: #BA2532;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  padding: 10px 27px;
}


#pbp .pbp-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 110px 120px 90px;
}


#pbp .pbp-left {
  background-color: #fff;
  border-top: 5px solid #023762;
  padding: 30px 30px 45px;
  width: 700px;
}
#pbp .pbp-left hr {
  background-color: #bbb;
  margin: 0;
  height: 1px;
}

#pbp .pbp-left__title {
  text-align: center;
}
#pbp .pbp-left__title img {
  height: 60px;
  width: 60px;
}
#pbp .pbp-left__title h2 {
  color: #023762;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 35px;
}

#pbp .pbp-left__description {
  padding-bottom: 30px;
}
#pbp .pbp-left__description h2 {
  color: #023762;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 40px;
  margin-bottom: 16px;
  text-align: center;
}
#pbp .pbp-left__description p {
  font-size: 16px;
  line-height: 26px;
}
#pbp .pbp-left__description h6 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 38px;
  padding-left: 30px;
}
#pbp .pbp-left__description p:first-of-type {
  margin-bottom: 38px;
}
#pbp .pbp-left__description h3 {
  font-size: 16px;
  line-height: 26px;
  padding-left: 30px;
  position: relative;
}
#pbp .pbp-left__description h3 span {
  background-color: #203762;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
}
#pbp .pbp-left__description ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 50px;
}
#pbp .pbp-left__description ul li {
  font-size: 16px;
  line-height: 26px;
  position: relative;
}
#pbp .pbp-left__description ul li img {
  margin-bottom: 11px;
  width: 500px;
  max-width: 100%;
}
#pbp .pbp-left__description ul li a {
  color: #BA2532;
  text-decoration: underline;
}
#pbp .pbp-left__description--circle:before {
  content: "";
  border: 4px solid #0F1467;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: -20px;
  height: 15px;
  width: 15px;
}
#pbp .pbp-left__description--pl {
  padding-left: 35px;
}
#pbp .pbp-left__description h4 {
  font-size: 16px;
  line-height: 26px;
  padding: 0 0 0 50px;
}
#pbp .pbp-left__description h5 {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 26px;
  padding-left: 50px;
}
#pbp .pbp-left__description h5 span {
  width: 50%;
}

#pbp .pbp-left__biglist {
  padding: 45px 0 0;
}
#pbp .pbp-left__biglist h2 {
  color: #023762;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 25px;
  text-align: center;
}
#pbp .pbp-left__biglist h2 span {
  color: #000;
  display: block;
}
#pbp .pbp-left__list {
  list-style: none;
  padding-left: 70px;
}
#pbp .pbp-left__list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
#pbp .pbp-left__list li h4 {
  background-color: #023762;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 700;
  margin-right: 20px;
  height: 40px;
  width: 40px;
}
#pbp .pbp-left__list li p {
  font-size: 12px;
  line-height: 26px;
}
#pbp .pbp-left__list li p span {
  color: #203762;
  display: block;
  font-size: 16px;
  line-height: 26px;
}
#pbp .pbp-left__biglist > p {
  font-size: 11px;
  line-height: 20px;
  margin-bottom: 45px;
  padding-left: 70px;
}



#pbp .pbp-left__check {
  padding: 40px 0 45px;
}
#pbp .pbp-left__check h2 {
  color: #203762;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 10px;
  text-align: center;
}
#pbp .pbp-left__check h3 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 18px;
  text-align: center;
}
#pbp .pbp-left__check h4 {
  font-size: 15px;
  line-height: 24px;
  padding-left: 30px;
}
#pbp .pbp-left__check p {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  line-height: 26px;
  padding-left: 70px;
}
#pbp .pbp-left__check p img {
  flex-shrink: 0;
  margin-top: 5px;
  margin-right: 10px;
  height: 15px;
  width: 15px;
}
#pbp .pbp-left__check p a {
  color: #BA2532;
  display: inline-block;
  text-decoration: underline;
}



#pbp .pbp-left__info {
  padding: 45px 0;
  text-align: center;
}
#pbp .pbp-left__info h3 {
  color: #023762;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 13px;
}
#pbp .pbp-left__info p {
  font-size: 16px;
  line-height: 26px;
}
#pbp .pbp-left__info p a {
  color: #BA2532;
  text-decoration: underline;
}

#pbp .pbp-left__btn {
  text-align: center;
}
#pbp .pbp-left__btn a {
  background-color: #ba2532;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin-top: 45px;
  padding: 10px 50px;
}


#pbp .pbp-right {
  width: 240px;
}
#pbp .pbp-right__top,
#pbp .pbp-right__bot {
  background: url(https://edanz.com/sites/default/files/right-header-bg.png) top center / 100% auto no-repeat, #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.16);
  padding: 0 15px;
}
#pbp .pbp-right__bot {
  border-bottom: 5px solid #023762;
}
#pbp .pbp-right__header h2 {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 25px;
  padding: 12px 0 18px;
  text-align: center;
}
#pbp .pbp-right__top {
  margin-bottom: 50px;
  padding-bottom: 25px;
}
#pbp .pbp-right__table {
  border: 1px solid #BBBBBB;
}
#pbp .pbp-right__row {
  display: flex;
  flex-direction: row;
}
#pbp .pbp-right__row--header {
  background-color: #023762;
  text-align: center;
}
#pbp .pbp-right__row--header h3 {
  color: #ffffff;
}
#pbp .pbp-right__row--header .pbp-right__col {
  padding: 6px 10px !important;
}
#pbp .pbp-right__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
#pbp .pbp-right__col:first-child {
  border-right: 1px solid #BBBBBB;
  width: 100px;
}
#pbp .pbp-right__col:last-child {
  padding-left: 26px;
  width: 110px;
}
#pbp .pbp-right__row:not(:last-child) .pbp-right__col {
  border-bottom: 1px solid #BBBBBB;
}
#pbp .pbp-right__row--header .pbp-right__col:first-child {
  border-right: 1px solid #ffffff;
}
#pbp .pbp-right__col h3 {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  position: relative;
}
#pbp .pbp-right__col:last-child h3 {
  text-align: left;
}
#pbp .pbp-right__col h3 span {
  font-size: 10px;
}
#pbp .pbp-right--logo:before {
  content: "";
  background: url("https://edanz.com/sites/default/files/p-logo.png") center / 100% 100% no-repeat;
  position: absolute;
  top: 3px;
  left: -20px;
  height: 18px;
  width: 18px;
}
#pbp .pbp-right__row > p {
  padding: 4px 9px;
}
#pbp .pbp-right__top p {
  font-size: 12px;
  line-height: 14px;
  position: relative;
}
#pbp .pbp-right__top > p {
  margin-top: 6px;
  margin-bottom: 14px;
  padding-left: 10px;
}
#pbp .pbp-right__top > p.pbp-right--logo:before {
  left: -10px;
}







#pbp .pbp-right__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0 35px;
}
#pbp .pbp-right__icon {
  width: 50px;
}
#pbp .pbp-right__icon a {
  display: block;
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
}
#pbp .pbp-right__icon a img {
  width: 100%;
}
#pbp .pbp-right__icon h5 {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

@media (max-width: 1024px) {
  #pbp .pbp-header {
    padding: 5px 10px;
    text-align: center;
  }

  #pbp .pbp-content {
    flex-wrap: wrap;
  }
  #pbp .pbp-left {
    width: 100%;
  }
  #pbp .pbp-right {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  #pbp .pbp-header h1 {
    font-size: 30px;
  }
  #pbp .pbp-content {
    padding: 0;
  }
  #pbp .pbp-left__list,
  #pbp .pbp-left__check h3,
  #pbp .pbp-left__check h4,
  #pbp .pbp-left__check p,
  #pbp .pbp-left__biglist > p {
    padding-left: 0;
  }
  #pbp .pbp-left__btn a {
    font-size: 18px;
    padding: 10px 30px;
  }
}
</style>
