@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.lp202001 {
  padding-top: 11.25px;
  padding-bottom: 53px;
  text-align: center;
  box-sizing: border-box;
  font-family: sans-serif;
}

.lp202001 * {
  box-sizing: border-box;
}

.lp202001 small {
  font-size: 10.125px;
}

.lp202001 sup {
  font-size: 10.125px;
}

.lp202001 em {
  font-style: normal;
  background: #FFCC00;
}

.lp202001 p {
  margin: 0;
  font-size: 13.5px;
  line-height: 2;
}

.lp202001 section + section {
  margin-top: 45px;
}

.lp202001 img {
  max-width: 100%;
  vertical-align: middle;
}

.lp202001 a:hover {
  opacity: .7;
  transition: all linear .2s;
}

.lp202001 [role=tooltip] {
  position: relative;
  cursor: pointer;
}

.lp202001 [role=tooltip]::after {
  opacity: 0;
  transition: opacity linear .2s;
  content: attr(data-tooltip);
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 13.5px;
  font-weight: normal;
  z-index: 2;
  padding: 0;
  border-radius: 4px;
  background: #fff;
  position: absolute;
  text-align: left;
  bottom: 20px;
  left: 0;
  margin-left: -20px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.lp202001 [role=tooltip]:hover::after {
  opacity: 1;
  width: 20em;
  height: auto;
  padding: 1em;
  border: 2px solid #22396A;
}

.lp202001 table {
  width: 675px;
  margin: 1em auto;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}

.lp202001 thead {
  background: #22396A;
  color: #fff;
  font-weight: 700;
}

.lp202001 thead th:first-of-type {
  border-top-left-radius: 10px;
  border: 1px solid #22396A;
}

.lp202001 thead th:last-of-type {
  border-top-right-radius: 10px;
  border: 1px solid #22396A;
  border-right: 1px solid #22396A !important;
}

.lp202001 thead + tbody + thead th {
  border-radius: 0 !important;
}

.lp202001 th, .lp202001 td {
  font-size: 13.5px;
  border-right: 1px solid #22396A;
  border-bottom: 1px solid #22396A;
  position: relative;
}

.lp202001 th {
  font-weight: 400;
}

.lp202001 td {
  padding: 1em;
}

.lp202001 td span {
  font-size: 18px;
  font-weight: 700;
}

.lp202001 thead th {
  padding: 1.5em;
  font-weight: 700;
  border-right: 1px solid #fff !important;
}

.lp202001 tbody th, .lp202001 tbody > tr td:first-child {
  border-left: 1px solid #22396A;
}

.lp202001 tr:nth-of-type(even) th, .lp202001 tr:nth-of-type(even) td {
  background: #EAEDF0;
}

.lp202001-container {
  width: 900px;
  margin: 0 auto;
}

.lp202001-framed-container {
  border: 6px solid #ECECEC;
  border-radius: 10px;
  padding: 24px 28px;
}

.lp202001-framed-title {
  font-size: 27px;
  margin: 0 0 12px;
}

.lp202001-framed-title span {
  background: #fff;
  padding: 0 1em;
}

.lp202001-framed-title:first-of-type {
  margin: -47px 0 12px;
}

.lp202001-bg-container {
  background: #EAEDF0;
  padding: 24px 28px 40px;
}

.lp202001-bg-title {
  font-size: 27px;
  margin: 0 0 0;
}

.lp202001-bg-title::before {
  content: url(img/title_waku_L.png);
  transform: scale(0.6);
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}

.lp202001-bg-title::after {
  content: url(img/title_waku_R.png);
  transform: scale(0.6);
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
}

.lp202001-hello-container {
  border: 6px solid #ECECEC;
  border-radius: 10px;
  padding: 19px 28px;
  text-align: left;
  position: relative;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 20px, #e5e5e5 21px), linear-gradient(90deg, rgba(255, 255, 255, 0) 20px, #e5e5e5 21px);
  background-size: 21px 21px;
  background-color: #fff;
}

.lp202001-hello-image {
  position: absolute;
  right: 2em;
  top: 0;
  margin-top: -1em;
}

.lp202001-hello p {
  font-size: 15.75px;
}

.lp202001-hello-title h1 {
  margin: .5em 0 0.1em;
}

.lp202001-hello-title p {
  font-size: 18px;
}

.lp202001-hello-cta {
  background: #ECECEC;
  display: flex;
  line-height: 1;
  padding: 17px 28px;
  justify-content: space-between;
  margin: 19px -28px 0;
}

.lp202001-feature img {
  margin-top: 1em;
}

.lp202001-feature small {
  margin: 2em 0 0;
  display: inline-block;
}

.lp202001-price-small {
  display: inline-block;
  text-align: left;
}

.lp202001-price-small small {
  display: inline-block;
  line-height: 2;
}

.lp202001-price hr {
  height: 0;
  border: 0;
  border-top: 6px solid #ECECEC;
  margin: 2em auto;
  width: 700px;
}

.lp202001-price-naiyou img {
  position: absolute;
  left: 1em;
}

.lp202001-price-cta {
  margin: 2em 0 1em;
}

.lp202001-price .premium {
  position: absolute;
  left: 1em;
  top: 50%;
  margin-top: -2.5em;
}

.lp202001-case-items {
  display: flex;
  flex-wrap: wrap;
  margin: 1.2em -11.25px -22.5px;
}

.lp202001-case-item {
  display: flex;
  width: calc(50% - 22.5px);
  text-align: left;
  background: #fff;
  padding: 21px 21px 14.6px;
  margin: 0 11.25px 22.5px;
  position: relative;
}

.lp202001-case-item p {
  font-size: 10.125px;
}

.lp202001-case h3 {
  font-size: 15.75px;
  margin: 0 0 21.4px;
  padding-right: calc(56.25px);
}

.lp202001-case .saitaku {
  position: absolute;
  right: 0;
}

.lp202001-case .journal-image {
  margin-right: 19px;
  width: 146px;
}

.lp202001-case .journal-text {
  width: calc(100% - 127px);
}

.lp202001-voice-items {
  display: flex;
  margin: 1.5em -1em 0;
  padding: 0 0.5em;
  justify-content: flex-start;
}

.lp202001-voice-item {
  border: 1px solid #ccc;
  padding: 2em .5em 1.5em;
  width: 33.33%;
  margin: 0 0.5em;
  justify-content: flex-start;
  background: url(img/stamp.png) no-repeat right 0.5em top 0.5em;
  background-size: 22.5px 40.5px;
}

.lp202001-voice-item h3 {
  font-size: 13.5px;
  line-height: 18px;
  color: #22396A;
}

.lp202001-voice-item p {
  font-size: 10px;
  line-height: 2;
  padding: 0 1.5em;
  text-align: left;
  background-image: linear-gradient(#ccc 1px, transparent 1px);
  background-size: 100% 2em;
  padding-bottom: 1px;
}

.lp202001-voice-item p span {
  display: block;
  text-align: right;
}

.lp202001-about-profile {
  display: flex;
  margin-top: 27px;
}

.lp202001-about-profile b {
  color: #999;
  font-weight: 400;
  font-size: 10.125px;
  padding: 11.25px;
}

.lp202001-about-profile h4 {
  font-size: 13.5px;
  line-height: 20px;
  margin: 0;
  text-align: left;
}

.lp202001-about-profile > div {
  background: #fff;
  padding: 11.25px;
  margin-right: 11.25px;
  width: 20%;
}

.lp202001-about-profile > div:last-child {
  margin-right: 0;
}

.lp202001-about-profile div div {
  border-top: 1px solid #CCCCCC;
  font-size: 10px;
  margin-top: 11.25px;
  padding-top: 11.25px;
  line-height: 2;
  text-align: left;
}

.lp202001-about-profile div div p {
  font-size: 10px;
}

.lp202001-cta-cta {
  padding: 1em 0 2em;
}

.lp202001-faq-content {
  padding: 15px 33px;
}

.lp202001-faq summary {
  padding: 15px 33px;
  outline: 0;
  cursor: pointer;
  display: block;
  color: #c30d23;
  font-weight: 700;
  font-size: 16.5px;
  list-style: none;
}

.lp202001-faq summary:hover {
  background: #eee;
  transition: all linear .2s;
}

.lp202001-faq summary::-webkit-details-marker {
  display: none;
}

.lp202001-faq details {
  text-align: left;
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 10px;
  display: block;
}

.lp202001-faq details summary::before {
  content: none !important;
}

.lp202001-faq details summary::after {
  content: '＋';
  color: #aaa !important;
  font-weight: 400;
  float: right;
}

.lp202001-faq details[open] summary::after {
  content: '−';
  color: #aaa;
  font-weight: 400;
  float: right;
}

.lp202001-faq details[open] .lp202001-faq-content {
  animation: open .4s linear;
  overflow: hidden;
  border-bottom: 2px solid #eee;
}

@keyframes open {
  0% {
    opacity: 0;
    height: 0;
  }
  70% {
    opacity: 0;
    height: 150px;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=lp202001.css.map */