<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

#rclp.rclp * {
  box-sizing: border-box;
}

#rclp.rclp h1,
#rclp.rclp h2,
#rclp.rclp h3,
#rclp.rclp h4,
#rclp.rclp h5,
#rclp.rclp h6,
#rclp.rclp li,
#rclp.rclp p,
#rclp.rclp a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

#rclp-form {
  position: relative;
  top: -155px;
}

#rclp a.rclp-red-btn {
  background-color: #ba2532;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  padding: 20px 70px;
  text-decoration: none;
}

#rclp hr {
  background-color: #cccccc;
  border: none;
  margin: 0;
  height: 1px;
  width: 100%;
}


#rclp .rclp-container {
  border: 1px solid #DADADB;
  border-top: 4px solid #023762;
  margin: 0 auto;
  padding: 30px 30px 100px;
  max-width: 1000px;
}


#rclp .rclp-header {
  background: url(https://www.edanz.com/sites/default/files/rclp/rclp-header-bg-img.png) center / cover no-repeat;
  margin-bottom: 15px;
}
#rclp .rclp-header--container {
  margin: 0 auto;
  padding: 110px 0 70px;
  max-width: 1000px;
}
#rclp .rclp-header__title {
  background-color: #ffffff;
  padding: 10px 0 15px;
  text-align: center;
}
#rclp .rclp-header__title h1 {
  font-size: 44px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -2px;
}
#rclp .rclp-header__title p {
  font-size: 17px;
  line-height: 28px;
}


#rclp .rclp-desc {
  padding-bottom: 30px;
  text-align: center;
}
#rclp .rclp-desc img {
  margin-bottom: 20px;
  height: 60px;
  width: 60px;
}
#rclp .rclp-desc h2 {
  font-size: 25px;
  line-height: 44px;
  margin-bottom: 30px;
}
#rclp .rclp-desc ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
#rclp .rclp-desc ul li {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 7px;
  text-align: left;
  width: 50%;
}
#rclp .rclp-desc ul li span {
  background-color: #ffff99;
}
#rclp .rclp-desc h4 {
  font-size: 12px;
  line-height: 21px;
}


#rclp .rclp-people {
  padding: 50px 0 65px;
}
#rclp .rclp-people h2 {
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
#rclp .rclp-people h2 span {
  color: #ba2532;
  display: block;
  font-size: 19px;
}

#rclp .rclp-quotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}
#rclp .rclp-quote {
  background: url(https://www.edanz.com/sites/default/files/rclp/rclp-quote-bg-img.png) center / 100% 100% no-repeat;
  padding: 25px 20px;
  position: relative;
  width: calc(100% / 3 - 25px);
}
#rclp .rclp-quote:before {
  content: "";
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  height: 90px;
  width: 80px;
}
#rclp .rclp-quote:nth-child(1):before {
  background: url(https://www.edanz.com/sites/default/files/rclp/rclp-person-img-1.png) center / 100% 100% no-repeat;
}
#rclp .rclp-quote:nth-child(2):before {
  background: url(https://www.edanz.com/sites/default/files/rclp/rclp-person-img-2.png) center / 100% 100% no-repeat;
}
#rclp .rclp-quote:nth-child(3):before {
  background: url(https://www.edanz.com/sites/default/files/rclp/rclp-person-img-3.png) center / 100% 100% no-repeat;
}
#rclp .rclp-quote p {
  font-size: 14px;
  line-height: 26px;
}
#rclp .rclp-quote p span {
  display: block;
  font-size: 12px;
  text-align: right;
}


#rclp .rclp-list {
  margin: 0 auto;
  padding: 55px 0;
  width: 860px;
  max-width: 100%;
}
#rclp .rclp-list h2 {
  color: #ba2532;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
}
#rclp .rclp-list ul {
  list-style: none;
  padding: 0;
}
#rclp .rclp-list ul li {
  margin-bottom: 40px;
  padding-left: 55px;
  position: relative;
}
#rclp .rclp-list ul li:before {
  content: "";
  background: url(https://www.edanz.com/sites/default/files/rclp/rclp-icon-check.png) center / 100% 100% no-repeat;
  position: absolute;
  left: 0;
  top: -10px;
  height: 45px;
  width: 48px;
}
#rclp .rclp-list ul li h3 {
  color: #023762;
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
}
#rclp .rclp-list ul li h4 {
  font-size: 14px;
  line-height: 28px;
  margin-top: 5px;
}
#rclp .rclp-list ul li p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 28px;
  margin-top: 20px;
}
#rclp .rclp-list ul li p span {
  width: 50%;
}


#rclp .rclp-biglist {
  padding: 55px 0;
  text-align: center;
}
#rclp .rclp-biglist h2 {
  color: #ba2531;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 15px;
}
#rclp .rclp-biglist h4 {
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 35px;
}
#rclp .rclp-biglist img {
  width: 600px;
  max-width: 100%;
}
#rclp .rclp-biglist ul {
  list-style: none;
  padding: 0;
}
#rclp .rclp-biglist ul li {
  margin: 0 auto 30px;
  text-align: left;
  width: 370px;
  max-width: 100%;
}
#rclp .rclp-biglist ul li h5 {
  color: #033762;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 19px;
}
#rclp .rclp-biglist ul li h6 {
  font-size: 13px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 9px;
}
#rclp .rclp-biglist ul li p {
  font-size: 11px;
  font-weight: 500;
  line-height: 26px;
}
#rclp .rclp-biglist h3 {
  font-size: 15px;
  font-weight: 500;
  line-height: 27px;
}


#rclp .rclp-feedback {
  padding: 50px 0 55px;
}
#rclp .rclp-feedback h4 {
  color: #ba2532;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
}
#rclp .rclp-faq {
  margin-bottom: 50px;
}
#rclp .rclp-faq h2,
#rclp .rclp-faq h3 {
  display: flex;
  flex-direction: row;
}
#rclp .rclp-faq h2 span,
#rclp .rclp-faq h3 span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  height: 40px;
  width: 40px;
}
#rclp .rclp-faq h2 {
  color: #023762;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
}
#rclp .rclp-faq h2 span {
  background-color: #023762;
  color: #ffffff;
  margin-right: 15px;
}
#rclp .rclp-faq h3 {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  padding-left: 40px;
}
#rclp .rclp-faq h3 span {
  background-color: #eef3f6;
  border: 2px solid #023762;
  color: #023762;
  margin-right: 18px;
}
#rclp .rclp-feedback-btn {
  text-align: center;
}


#rclp .rclp-example {
  padding: 45px 0 0;
}
#rclp .rclp-example h3 {
  color: #ba2532;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
}
#rclp .rclp-example h4 {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 35px;
  text-align: center;
}
#rclp .rclp-example-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#rclp .rclp-example-row a {
  display: block;
  width: calc(100% / 3 - 20px);
}
#rclp .rclp-example-row a img {
  width: 100%;
}




@media (max-width: 1024px) {
  #rclp .rclp-people {
    padding-bottom: 0;
  }
  #rclp .rclp-quotes {
    flex-direction: column;
    align-items: center;
  }
  #rclp .rclp-quote {
    margin-bottom: 70px;
    width: 280px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  #rclp .rclp-container {
    padding: 20px 20px 50px;
  }

  #rclp .rclp-header--container {
    padding: 55px 0 35px;
  }

  #rclp .rclp-example {
    padding: 10px 5px 20px;
  }

  #rclp .rclp-feedback {
    padding: 10px 0 20px;
  }

  #rclp .rclp-faq h3 {
    padding-left: 20px;
  }

  #rclp .rclp-example-row {
    flex-direction: column;
    align-items: center;
  }
  #rclp .rclp-example-row a {
    width: 400px;
    max-width: 100%;
  }

  #rclp .rclp hr {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  #rclp a.rclp-red-btn {
    padding: 20px 0;
    width: 100%;
  }

  #rclp .rclp-container {
    padding: 10px 10px 30px;
  }

  #rclp .rclp-header__title h1 {
    font-size: 30px;
    line-height: 40px;
  }

  #rclp .rclp-list ul li p span {
    width: 100%;
  }
}
</style>
