<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

.iclp * {
  box-sizing: border-box;
}

.iclp h1,
.iclp h2,
.iclp h3,
.iclp h4,
.iclp h5,
.iclp h6,
.iclp li,
.iclp p,
.iclp a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.iclp {

}
.iclp-container {
  margin: 0 auto;
  width: 1440px;
  max-width: 100%;
}


.iclp-header {
  background: url(https://www.edanz.com/sites/default/files/iclp/iclp-header-bg-img.png) center / cover no-repeat;
  padding: 20px 0 60px;
  text-align: center;
}
.iclp-header img {
  width: 350px;
  max-width: 100%;
}


.iclp-off {
  background-color: #f2f2f2;
  border-top: 10px solid #A52838;
  border-bottom: 10px solid #A52838;
  padding: 70px 0 50px;
  position: relative;
}
.iclp-off__10 {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 110px;
  width: 110px;
}
.iclp-off > h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 15px;
  text-align: center;
}
.iclp-off > p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.iclp-off__table {

}
.iclp-off__table--top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.iclp-off__row {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
  min-height: 75px;
  width: 975px;
  max-width: 100%;
}
.iclp-off__row.no-bgc {
  background-color: transparent;
}
.iclp-off__col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.iclp-off__col--1 {
  width: 170px;
  max-width: 100%;
}
.iclp-off__col--1:not(:last-of-type) {
  border-right: 2px solid #F4F4F4;
}
.iclp-off__col--1 h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}
.iclp-off__col--1 h3 {
  font-size: 20px;
  line-height: 30px;
}
.iclp-off__col--1 h3 span {
  font-size: 40px;
  font-weight: 400;
}
.iclp-off__col--2 {
  display: flex;
  flex-direction: column;
  padding: 25px 40px 30px 65px;
  position: relative;
}
.iclp-off__col--2:before {
  content: "";
  background-color: #f2f2f2;
  position: absolute;
  top: -10px;
  right: 0;
  height: calc(100% + 20px);
  width: 10px;
}
.iclp-off__table--bot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iclp-off__col--3 {
  border-right: 2px solid #F4F4F4;
  flex-shrink: 0;
  width: 250px;
}
.iclp-off__row.no-bgc .iclp-off__col--3 {
  border-right: 2px solid #ffffff;
}
.iclp-off__col--3 h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.iclp-off__col--4 {
  flex-grow: 1;
  padding-left: 45px;
}
.iclp-off__col--4 h3 {
  font-size: 15px;
  line-height: 25px;
  width: 100%;
}
.iclp-off__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.iclp-off__price:first-child {
  margin-bottom: 15px;
}
.iclp-off__price.price-premium {
  position: relative;
}
.iclp-off__price.price-premium:before {
  content: "";
  background: url(https://www.edanz.com/sites/default/files/iclp/iclp-icon-premium.png) center / 20px 20px no-repeat;
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
}
.iclp-off__price h3 {
  font-size: 15px;
  line-height: 18px;
}
.iclp-off__price h4 {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 5px;
}
.iclp-off__price h4.text-red {
  color: #a52838;
}
.iclp-off__price h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
.iclp-off__price h5 span {
  display: block;
  font-size: 8px;
}
.iclp-off__price i {
  font-size: 30px;
  line-height: 30px;
  margin: 0 23px 0 8px;
}

.iclp-off__btn {
  margin-top: 25px;
  text-align: center;
}
.iclp-off__btn a {
  background-color: #a52838;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  padding: 20px 70px;
  text-decoration: none;
}


.iclp-proof {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 70px 0 65px;
}
.iclp-proof--left {
  margin-right: 50px;
}
.iclp-proof--left img {
  width: 400px;
}
.iclp-proof--right {

}
.iclp-proof--right h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 20px;
}
.iclp-proof--right ul {
  background-color: #f2f2f2;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  list-style: none;
  margin-bottom: 25px;
  padding: 30px;
}
.iclp-proof--right ul li {
  font-size: 20px;
  line-height: 40px;
}
.iclp-proof--right h5 {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}


.iclp-requirement {
  background-color: #f2f2f2;
  padding: 45px 0;
}
.iclp-requirement h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 40px;
  text-align: center;
}
.iclp-requirement p {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 45px;
  margin-left: 240px;
  width: 1100px;
  max-width: 100%;
}
.iclp-requirement h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.iclp-requirement__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}
.iclp-requirement__block {
  background-color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 300px;
  width: 300px;
}
.iclp-requirement__block img {
  margin-bottom: 15px;
  height: 95px;
}
.iclp-requirement__block h4 {
  color: #a52838;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}
.iclp-requirement__block h5 {
  font-size: 15px;
  line-height: 25px;
}
.iclp-requirement__block h6 {
  font-size: 12px;
  line-height: 20px;
}


.iclp-experts {
  background-color: #f2f2f2;
  padding-bottom: 65px;
}
.iclp-experts > h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 38px;
  text-align: center;
}
.iclp-expert--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}
.iclp-expert {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 12px 16px;
  width: 180px;
}
.iclp-expert img {
  margin-bottom: 7px;
  width: 115px;
}
.iclp-expert h6 {
  color: #999999;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.iclp-expert h2 {
  font-size: 15px;
  line-height: 24px;
}
.iclp-expert hr {
  background-color: #cccccc;
  border: none;
  margin: 9px 0 13px;
  height: 1px;
  width: 100%;
}
.iclp-expert h3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}


.iclp-circles {
  padding-top: 70px;
  padding-bottom: 40px;
}
.iclp-circles h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.iclp-circle--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}
.iclp-circle {
  background-color: #f4f4f4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 300px;
  width: 300px;
}
.iclp-circle img {
  margin-bottom: 20px;
  height: 110px;
}
.iclp-circle__img--small {
  height: 85px;
}
img.iclp-circle__img--secondary {
  margin-bottom: 0;
  height: auto;
  max-width: 270px;
}
.iclp-circle h3 {
  color: #a52838;
  font-size: 20px;
  line-height: 30px;
}
.iclp-circle p {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  max-width: 210px;
}


.iclp-examples {
  padding-bottom: 60px;
}
.iclp-examples h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 45px;
  text-align: center;
}
.iclp-example--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}
.iclp-example {
  width: 580px;
  max-width: 100%;
}
.iclp-example h3 {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.iclp-example p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.iclp-example p span {
  color: #ff0000;
}
.iclp-examples ul {
  list-style: none;
  margin: 50px auto 80px;
  padding: 0;
  width: 650px;
  max-width: 100%;
}
.iclp-examples ul li {
  font-size: 15px;
  line-height: 25px;
}
.iclp-examples ul li:not(:last-child) {
  margin-bottom: 30px;
}
.iclp-examples ul li span {
  font-size: 20px;
  margin-right: 18px;
}
.iclp-examples__block {
  border: 1px solid #CCCCCC;
  margin: 0 auto;
  padding: 30px 0 50px;
  text-align: center;
  width: 960px;
  max-width: 100%;
}
.iclp-examples__block h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 25px;
}
.iclp-examples__block h5 {
  font-size: 15px;
  line-height: 25px;
}


.iclp-journals {
  background-color: #f4f4f4;
  margin-bottom: 140px;
  padding: 45px 10px;
}
.iclp-journals h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}
.iclp-journals img {
  width: 100%;
  max-width: 100%;
}


.iclp-footer {
  background-color: #f1f1f1;
  padding: 50px 10px 70px;
}
.iclp-footer h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 25px;
  text-align: center;
}
.iclp-footer p {
  font-size: 15px;
  line-height: 25px;
  margin: 0 auto;
  width: 1150px;
  max-width: 100%;
}


@media (max-width: 1440px) {
  .iclp-requirement p {
    margin: 0 auto 45px;
    padding: 0 10px;
  }
}

@media (max-width: 1200px) {
  .iclp-example--container {
    padding: 0 10px;
  }
  .iclp-example {
    width: 495px;
  }
}

@media (max-width: 1024px) {
  .iclp-off__row {
    flex-direction: column;
    align-items: center;
  }
  .iclp-off__col {
    border: none !important;
  }
  .iclp-off__col:before {
    content: none;
  }
  .iclp-off__col--4 {
    padding: 0;
  }
  .iclp-off > p {
    margin-top: 10px;
  }


  .iclp-proof {
    flex-direction: column;
  }
  .iclp-proof--left {
    margin: 0 0 10px;
  }


  .iclp-requirement__blocks {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .iclp-requirement__block {
    margin-bottom: 10px;
  }


  .iclp-expert--container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .iclp-expert {
    margin-bottom: 10px;
    width: 250px;
  }


  .iclp-example {
    margin-bottom: 20px;
    width: 100%;
  }

  .iclp-circles {
    padding-top: 10px;
  }
  .iclp-circle--container {
    justify-content: space-around;
  }
}
</style>
