<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Libre+Franklin:wght@400;500;600;700&display=swap');

#hpp.hpp * {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#hpp h1,
#hpp h2,
#hpp h3,
#hpp h4,
#hpp h5,
#hpp h6,
#hpp li,
#hpp p,
#hpp a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

#hpp .hpp-btn__primary {
  background-color: #c80000;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 200rem;
  -moz-border-radius: 200rem;
  border-radius: 200rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 1rem 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__primary-text {
  color: #BA2532;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__primary-video {
  color: #BA2532;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__primary-video img {
  margin-right: 1rem;
  height: 1.6rem;
  width: 1.6rem;
}
#hpp .hpp-btn__secondary {
  color: #9e15bf;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__secondary-arrow {
  color: #7C3AED;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
}
#hpp .hpp-btn__secondary-arrow img {
  margin-left: .8rem;
  height: 2rem;
  width: 2rem;
}
#hpp .hpp-btn__blue {
  background-color: #474BA8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 200rem;
  -moz-border-radius: 200rem;
  border-radius: 200rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 1rem 2.4rem;
  text-decoration: none;
}


#hpp .hpp-container {
  margin: 0 auto;
  width: 1224px;
  max-width: 100%;
}


#hpp .hpp-header {
  background: url(https://www.edanz.com/sites/default/files/hpp_0/hpp-header-bg-img-2.png) center / cover no-repeat;
  margin-bottom: 4.8rem;
}
#hpp .hpp-header .hpp-container {
  padding: 1.8rem 0 5.8rem;
  text-align: center;
}
#hpp .hpp-header img {
  margin-bottom: 2.4rem;
  height: 10rem;
  width: 10rem;
}
#hpp .hpp-header h2 {
  color: #474ba8;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.4rem;
  margin-bottom: 2.4rem;
}
#hpp .hpp-header p {
  font-size: 1.6rem;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 2rem;
  margin: 0 auto;
  max-width: 87rem;
}


#hpp .hpp-block {
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 9.6rem;
  width: 100%;
}
#hpp .hpp-block.hpp-block--color-1 {
  background-color: #fff4dd;
}
#hpp .hpp-block.hpp-block--color-2 {
  background-color: #ecfeff;
}
#hpp .hpp-block__text {
  flex-grow: 1;
  padding: 0 4.8rem;
}
#hpp .hpp-block__text h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 5.2rem;
  margin-bottom: 2.4rem;
}
#hpp .hpp-block__text p {
  color: #474ba8;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
}
#hpp .hpp-block__text ul {
  margin: 0 0 2.4rem;
  list-style: none;
  padding: 0;
}
#hpp .hpp-block__text ul li {
  color: #474ba8;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: .8rem;
}
#hpp .hpp-block__text ul li > img {
  margin-right: .8rem;
  height: 2.4rem;
  width: 2.4rem;
}
#hpp .hpp-block > img {
  flex-shrink: 0;
  width: 40.8rem;
}


#hpp .hpp-flow {
  padding: 9.6rem 0 11.2rem;
}
#hpp .hpp-flow h2 {
  color: #111827;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 6rem;
}
#hpp .hpp-flow .hpp-container > p {
  color: #374151;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}
#hpp .hpp-flow__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#hpp .hpp-flow__block {
  width: 28rem;
}
#hpp .hpp-flow__row-graph {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.6rem;
}
#hpp .hpp-flow__row-graph span:first-child {
  background-color: #4a51e8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  margin-right: 2.4rem;
  height: 2.4rem;
  width: 2.4rem;
}
#hpp .hpp-flow__row-graph span:last-child {
  border-top: 2px dashed #787EFF;
  display: inline-block;
  opacity: .4;
  width: 100%;
}
#hpp .hpp-flow__block h3 {
  color: #111827;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: .4rem;
}
#hpp .hpp-flow__block p {
  color: #374151;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}


#hpp .hpp-content {
  background: url(https://www.edanz.com/sites/default/files/hpp_0/hpp-content-bg.png) center / cover no-repeat;
  padding: 8rem 0;
}
#hpp .hpp-content h2 {
  color: #474ba8;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: 4.8rem;
  text-align: center;
}
#hpp .hpp-content__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#hpp .hpp-content__block {
  background-color: #ffffff;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
  max-width: 38rem;
}
#hpp .hpp-content__block > img {
  width: 100%;
}
#hpp .hpp-content__block-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 4rem 3.2rem;
}
#hpp .hpp-content__block-text h2 {
  color: #111827;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 1.2rem;
  text-align: left;
  width: 100%;
}
#hpp .hpp-content__block-text p {
  color: #374151;
  flex-grow: 1;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 4rem;
  width: 100%;
}



@media (max-width: 1439px) {
  html {
    font-size: 9px;
  }

  #hpp .hpp-container {
    padding: 0 2rem;
    max-width: calc(100% - 4rem);
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 7px;
  }


  #hpp .hpp-flow {
    padding-top: 0;
  }
  #hpp .hpp-flow__row {
    flex-direction: column;
  }
  #hpp .hpp-flow__block {
    margin-bottom: 2rem;
    width: 100%;
  }


  #hpp .hpp-content__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  #hpp .hpp-content__block {
    margin: 0 2rem 2rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6px;
  }

  #hpp .hpp-block {
    flex-direction: column-reverse;
    padding-bottom: 5rem;
  }
  #hpp .hpp-block > img {
    margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 4px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 3px;
  }
}
</style>
