<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

#cld.cld * {
  box-sizing: border-box;
}

#cld.cld h1,
#cld.cld h2,
#cld.cld h3,
#cld.cld h4,
#cld.cld h5,
#cld.cld h6,
#cld.cld li,
#cld.cld p,
#cld.cld a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

#cld .cld-container  {
  margin: 0 auto;
  width: 1150px;
  max-width: 100%;
}


#cld .cld-header {
  background: url(https://www.edanz.com/sites/default/files/cld-lp/cld-header-bg.png) center / cover no-repeat;
  padding: 30px 0 40px;
}
#cld .cld-header .cld-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#cld .cld-header__img {
  margin-right: 40px;
  width: 95px;
}
#cld .cld-header__img img {
  width: 100%;
}
#cld .cld-header__info {
  text-align: center;
  margin-right: 95px;
}
#cld .cld-header__info h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 25px;
}
#cld .cld-header__info h3 {
  font-size: 33px;
  font-weight: 700;
  line-height: 40px;
}


#cld .cld-card {
  background-color: rgba(227, 228, 221, 48%);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  margin: 50px auto;
  padding: 35px 80px 35px 60px;
  text-align: center;
}
#cld .cld-card h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 50px;
}
#cld .cld-card h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 35px;
}
#cld .cld-card__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#cld .cld-card__row img {
  margin-right: 60px;
  width: 100%;
  max-width: 570px;
}
#cld .cld-card__info {
  flex-shrink: 0;
}
#cld .cld-card__info h4 {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
#cld .cld-card__info h5 {
  background-color: #ffffff;
  border: 1px dashed #FD8922;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 30px;
  padding: 17px 70px;
}
#cld .cld-card__info h6 {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}


.cld-bg {
  background-color: #f9f9f9;
  margin-bottom: 35px;
  padding: 55px 40px 45px;
}


#cld .cld-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}
#cld .cld-info__left {
  width: 700px;
  max-width: 100%;
}
#cld .cld-info__left h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
#cld .cld-info__left hr {
  margin: 30px 0 50px;
}
#cld .cld-info__left p {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 65px;
}
#cld .cld-info__btn {
  text-align: center;
}
#cld .cld-info__btn a {
  background-color: #023762;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 37px;
  padding: 15px 40px;
  text-decoration: none;
}

#cld .cld-info__right {
  background-color: #fff;
  border-top: 5px solid #023762;
  flex-shrink: 0;
  margin-top: 30px;
  padding: 25px 35px 40px;
  width: 300px;
}
#cld .cld-info__right h4 {
  font-size: 17px !important;
  font-weight: 700 !important;
  line-height: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
}
#cld .cld-info__right h5 {
  font-size: 14px !important;
  line-height: 20px;
  margin-bottom: 20px;
}
#cld .cld-info__right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cld .cld-info__right ul li {
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px !important;
  line-height: 50px;
  position: relative;
  height: 35px;
  width: 100%;
}
#cld .cld-info__right ul li:not(:last-child):before {
  content: "";
  background: url(https://stg-comm-jp-author-services.edanz.com/sites/default/files/meps-arrow-down.png) center / 100% 100% no-repeat;
  position: absolute;
  bottom: -10px;
  height: 7px;
  width: 12px;
}
#cld .cld-info__right ul li:not(:last-child) {
  margin-bottom: 10px;
}
#cld .cld-info__right ul li:last-child {
  border-color: #05A3E0;
  border-width: 2px;
}


#cld .cld-block {
  background-color: #aebbc3;
  padding: 25px 40px 20px;
}
#cld .cld-block h2 {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 25px;
}
#cld .cld-block p {
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
}
#cld .cld-block p span {
  color: #fc0909;
}


@media (max-width: 1024px) {
  #cld .cld-header__info h3 {
    font-size: 28px;
  }


  #cld .cld-card__row {
    flex-direction: column;
  }
  #cld .cld-card__row img {
    margin-right: 0;
  }


  #cld .cld-info {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  #cld .cld-header {
    padding: 15px 0;
  }
  #cld .cld-header .cld-container {
    flex-direction: column;
  }
  #cld .cld-header__img,
  #cld .cld-header__info {
    margin: 0;
  }


  #cld .cld-card {
    margin-top: 5px;
    padding: 15px 30px;
  }


  .cld-bg {
    padding: 5px;
  }
}

@media (max-width: 480px) {
  #cld .cld-header__info h2 {
    font-size: 16px;
  }


  #cld .cld-card {
    padding: 5px 15px;
  }
  #cld .cld-card h3 {
    font-size: 16px;
  }
  #cld .cld-card h2 {
    font-size: 30px;
  }
  #cld .cld-card__info h4 {
    font-size: 16px;
  }
  #cld .cld-card__info h5 {
    padding: 15px 10px;
  }


  #cld .cld-info__btn a {
    padding: 15px 0;
    width: 100%;
  }


  #cld .cld-block {
    padding: 10px 5px;
  }
}
</style>
