@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
.mw-form * {
  box-sizing: border-box;
}

.mw-form h1,
.mw-form h2,
.mw-form h3,
.mw-form h4,
.mw-form h5,
.mw-form h6,
.mw-form input,
.mw-form p,
.mw-form a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.mw-form {
  border: 1px solid #707070;
  margin: 0 auto;
  padding: 0 0 85px;
  width: 100%;
  max-width: 850px;
}
.mw-title {
  background-color: #eaedf0;
  margin-bottom: 50px;
  padding: 20px 0;
}
.mw-title h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
}

.mw-form h3 {
  font-size: 30px;
  line-height: 60px;
}

.mw-radio-container {
  margin-bottom: 70px;
  padding: 0 50px;
}
.mw-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 25px;
}
.mw-radio input {
  flex-shrink: 0;
  margin-right: 15px;
  height: 30px;
  width: 30px;
}
.mw-radio label {
  font-size: 30px;
  line-height: 60px;
}

.mw-attach {
  display: none;
  margin-bottom: 70px;
  padding: 0 50px;
}
.mw-attach h3 {
  margin-bottom: 30px;
}
.mw-attach a {
  background-color: #BA3435;
  border: 0;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  line-height: 60px;
  margin: 0 20px;
  padding: 15px 30px;
  text-decoration: none;
}

.mw-input.mw-words {
  display: none;
}
.mw-attach.show,
.mw-input.mw-words.show {
  display: block;
}

.mw-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  padding: 0 50px;
}
.mw-input h3 {
  margin-bottom: 35px;
}
.mw-input input {
  border: 1px solid #333333;
  flex-grow: 1;
  font-size: 30px;
  line-height: 38px;
  margin: 0 20px;
  padding: 10px 20px;
}

.mw-submit {
  text-align: center;
}
.mw-submit button {
  background-color: #BA3435;
  border: 0;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  line-height: 60px;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  width: 340px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .mw-form {
    text-align: center;
  }
  .mw-title {
    padding: 5px 0;
  }
  .mw-title h2,
  .mw-form h3,
  .mw-radio label,
  .mw-attach a,
  .mw-submit button {
    font-size: 25px;
  }
  .mw-form h3 {
    line-height: 40px;
    margin-bottom: 15px;
  }
  .mw-attach a {
    padding: 5px 30px;
  }
}

@media (max-width: 425px) {
  .mw-radio-container,
  .mw-attach {
    padding: 0 10px;
  }
  .mw-title h2,
  .mw-form h3,
  .mw-radio label,
  .mw-attach a,
  .mw-submit button {
    font-size: 20px;
  }
  .mw-form h3 {
    line-height: 30px;
    margin-bottom: 10px;
    padding: 0 20px;
  }
  .mw-attach a {
    margin: 0;
    padding: 5px 0;
    text-align: center;
    width: 100%;
  }
  .mw-input {
    padding: 0 10px;
  }
  .mw-input input {
    margin: 0;
    max-width: 100%;
  }
  .mw-submit {
    padding: 0 10px;
  }
}