/* Fonts */
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-SemiBold.woff') format('woff'),
  url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 115rem;
  max-width: 115rem;
}

/* header styles */
.header {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.5rem 0.65rem rgba(0, 0, 0, 0.19);
          box-shadow: 0 0.5rem 0.65rem rgba(0, 0, 0, 0.19);
  height: 7.6rem;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__logo {
  width: 17.1rem;
}

.header__logo img {
  width: 100%;
}

.header__navbar a {
  color: #396ec7;
  font-family: 'OpenSans-SemiBold';
  font-size: 1.6rem;
  line-height: 1.4rem;
  text-decoration: none;
}

.header__navbar a:not(:first-child) {
  margin-left: 5.5rem;
}

/* promo styles */
.promo {
  background: url(../img/promo-bg.jpg) top center / cover no-repeat;
  height: 48.5rem;
  max-height: 48.5rem;
}

.promo .container {
  height: 100%;
}

.promo__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.promo__block h1 {
  color: #fefeff;
  font-size: 4.4rem;
  line-height: 5.5rem;
  margin-bottom: 2.9rem;
}

.promo__block h4 {
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.promo__block a {
  background-color: #51baed;
  border-radius: 3.1rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 2.5rem 6rem;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.features {
  padding: 10rem 0 2rem;
}

.features__title {
  color: #464646;
  font-size: 3.6rem;
  margin-bottom: 15rem;
  text-align: center;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12rem;
  width: 45%;
}

.features__item-img {
  /*border-right: .1rem solid #cecece;*/
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 3rem;
  padding-right: 3rem;
  position: relative;
  width: 11rem;
  max-width: 11rem;
}

.features__item-img:before {
  content: "";
  background-color: #cecece;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0rem;
  height: 5.25rem;
  width: .1rem;
}

.features__item-img img {
  width: 100%;
}

.features__item-data h3 {
  color: #434445;
  font-family: 'OpenSans-SemiBold';
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.features__item-data  p {
  color: #717171;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* protection styles */
.protection {
  background: url(../img/protection-bg.jpg) top center / cover no-repeat;
  height: 49rem;
  max-height: 49rem;
}

.protection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
}

.protection h2 {
  color: #ffffff;
  font-size: 4.8rem;
  font-weight: 300;
  margin-bottom: 2.2rem;
}

.protection p {
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.protection p span {
  font-weight: 700;
}

/* download styles */
.download {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f7f8f8), color-stop(50%, #e6f3f8));
  background: -webkit-linear-gradient(left, #f7f8f8 50%, #e6f3f8 50%);
  background: -o-linear-gradient(left, #f7f8f8 50%, #e6f3f8 50%);
  background: linear-gradient(to right, #f7f8f8 50%, #e6f3f8 50%);
  height: 88rem;
  max-height: 88rem;
}

.download .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.download__left,
.download__middle,
.download__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10rem 0 5.5rem;
  text-align: center;
  height: 100%;
}

.download__left h2,
.download__middle h2,
.download__right h2 {
  color: #7f7f7f;
  font-size: 2.4rem;
  margin-bottom: 6.5rem;
}

.download__left-data,
.download__middle-data,
.download__right-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 7.5rem;
  height: 100%;
}

.download__left {
  width: 25%;
}

.download__left h2 {
  font-weight: 700;
  text-transform: uppercase;
}

.download__left p {
  color: #7d7d7d;
  display: block;
  font-size: 1.8rem;
}

.download__left p img {
  height: 2.65rem;
  width: 3.6rem;
}

.download__middle {
  background-color: #ffffff;
  width: 50%;
}

.download__middle p {
  color: #7d7d7d;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.download__right {
  width: 25%;
}

.download__right h2 {
  color: #51baed;
  font-weight: 700;
  text-transform: uppercase;
}

.download__right p {
  display: block;
}

.download__right p img {
  height: 2.65rem;
  width: 3.6rem;
}

.download__btn-left,
.download__btn-middle,
.download__btn-right {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 6.3rem;
}

.download__btn-left a,
.download__btn-right a {
  border-radius: 3.1rem;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
  width: 21.9rem;
  max-width: 21.9rem;
}

.download__btn-left a {
  background-color: #7cafc8;
}

.download__btn-right a {
  background-color: #51baed;
}

/* slogan styles */
.slogan {
  background: url(../img/slogan-bg.jpg) top center / cover no-repeat;
  height: 59rem;
}

.slogan .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.slogan h2 {
  color: #2460a6;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem;
  text-align: center;
  width: 100%;
}

/* footer styles */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-left,
.footer-right {
  padding-top: 8rem;
}

.footer-left {
  background-color: #024385;
  width: 60%;
}

.footer-left .container {
  margin-right: 0;
  padding-right: 8rem;
  width: calc(115rem * .6);
  max-width: calc(115rem * .6);
}

.footer-left h2 {
  color: #ffffff;
  font-size: 3.6rem;
  margin-bottom: 2.5rem;
}

.footer-left h5 {
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.footer-left__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-left__form input {
  margin-bottom: 2.5rem;
}

.footer-left__form textarea {
  margin-bottom: 5rem;
}

.footer-left__form input:focus,
.footer-left__form textarea:focus {
  outline: none;
}

.footer-left__form input,
.footer-left__form textarea {
  background: transparent;
  border: 0;
  border-bottom: .1rem solid rgba(81, 186, 237, 1);
  color: #ffffff;
  font-size: 1.6rem;
  padding: 1.2rem 0;
  width: 100%;
}

.footer-left__form input::-webkit-input-placeholder,
.footer-left__form textarea::-webkit-input-placeholder {
  color: #6e97c2;
}

.footer-left__form input::-moz-placeholder,
.footer-left__form textarea::-moz-placeholder {
  color: #6e97c2;
}

.footer-left__form input:-ms-input-placeholder,
.footer-left__form textarea:-ms-input-placeholder {
  color: #6e97c2;
}

.footer-left__form input::-ms-input-placeholder,
.footer-left__form textarea::-ms-input-placeholder {
  color: #6e97c2;
}

.footer-left__form input::placeholder,
.footer-left__form textarea::placeholder {
  color: #6e97c2;
}

.footer-left__form [type=submit] {
  background-color: #51baed;
  border-radius: 3.1rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 4.5rem;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  width: auto;
}

.footer-right {
  background-color: #023a72;
  width: 40%;
}

.footer-right .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0;
  padding-left: 6.5rem;
  height: 100%;
  width: calc(115rem * .4);
  max-width: calc(115rem * .4);
}

.footer-right__logo {
  margin-bottom: 6rem;
  width: 28rem;
}

.footer-right__logo img {
  width: 100%;
}

.footer-right__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-right__links-block:first-child {
  margin-right: 10.5rem;
}

.footer-right__links-block h3 {
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.footer-right__links-block a {
  color: #5883af;
  display: block;
  font-size: 1.6rem;
  line-height: 3.6rem;
  text-decoration: none;
}

.footer-right__social {
  margin-bottom: 3.5rem;
}

.footer-right__social h3 {
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.footer-right__social a {
  display: inline-block;
  width: 2.95rem;
  height: 2.95rem;
}

.footer-right__social a:not(:last-child) {
  margin-right: .5rem;
}

.footer-right__social a img {
  width: 2.95rem;
  height: 2.95rem;
}

.footer-right__copyright {
  color: #7ea4e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-family: 'OpenSans-SemiBold';
  margin-bottom: 4.5rem;
  height: 5rem;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 9px;
  }

  .container {
    padding: 0 2rem;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }

  .container {
    padding: 0 2rem;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 7px;
  }

  .container {
    padding: 0 2rem;
    width: 100%;
    max-width: 100%;
  }

  .footer-left .container {
    width: 60%;
    max-width: 60%;
  }

  .footer-right .container {
    width: 40%;
    max-width: 40%;
  }

  .footer-left .container,
  .footer-right .container {
    width: 100%;
    max-width: 100%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 6px;
  }

  .container {
    padding: 0 2rem;
    width: 100%;
    max-width: 100%;
  }

  .footer-left .container {
    width: 60%;
    max-width: 60%;
  }

  .footer-right .container {
    width: 40%;
    max-width: 40%;
  }

  .footer-left .container,
  .footer-right .container {
    width: 100%;
    max-width: 100%;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }

  .features .container br {
    display: none;
  }

  .download .container br {
    display: none;
  }

  .download__middle {
    padding: 10rem 2rem 5.5rem;
  }

  .slogan .container br {
    display: none;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-left,
  .footer-right {
    width: 100%;
    max-width: 100%;
  }

  .footer-left .container,
  .footer-right .container {
    padding: 0 10rem;
  }

  .footer-right .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer-right__social {
    padding-top: 1.5rem;
  }

  .footer-right__links,
  .footer-right__copyright {
    margin-bottom: 8.5rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 4px;
  }

  .container {
    padding: 0 1rem;
  }
}