@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.fp * {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
}

.fp h1,
.fp h2,
.fp h3,
.fp h4,
.fp h5,
.fp h6,
.fp li,
.fp p,
.fp span,
.fp strong,
.fp small,
.fp a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.fp .info-text {
  background-color: #ffe51d;
  border-radius: 1.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.7rem;
  padding: .5rem 1.8rem;
}


/* Login page */
.fp-login__bg {
  background: url(../img/fp-login-bg.png) center / cover no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.fp-login {
  text-align: center;
  width: 40rem;
  max-width: 100%;
}
.fp-login img {
  margin-bottom: 2.5rem;
  width: 32rem;
  max-width: 100%;
}
.fp-login h2 {
  color: #ffffff;
  font-size: 2rem;
  line-height: 2.7rem;
  margin-bottom: 4rem;
}
.fp-form {
  border-radius: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding: 2.5rem 2.5rem 2rem;
}
.fp-form h3 {
  color: #97aabd;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
}
.fp-form input {
  background-color: transparent;
  border-radius: 1rem;
  border: solid 1px #DEDEDE;
  color: #596383;
  flex-grow: 1;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
  padding: 1.5rem 2rem;
}
.fp-form input::placeholder {
  color: #97aabd;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.fp-form h5 {
  color: #dd4444;
  display: none;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.2rem;
  margin: 0.25rem 0;
  text-align: right;
}
.fp-form input.incorrect {
  border: solid 1px #DD4444;
}
.fp-form input.incorrect + h5 {
  display: block;
}
.fp-form .submit {
  background: url(../img/fp-login-lock.png) left 1.5rem center / auto 2.5rem no-repeat, #d9dade;
  border: none;
  border-radius: 1rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.9rem;
  margin-top: .75rem;
  padding: 1.5rem 2rem;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}
.fp-form .submit.correct {
  background-color: #4777ee;
}
.fp-form .submit.correct:hover {
  background: url(../img/fp-login-unlock.png) left 1.5rem center / auto 2.5rem no-repeat, #4777ee;
}
.fp-login h6 {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.7rem;
  width: 100%;
}


/* Demo page */
.fp {
  position: relative;
}
.fp-demo__left {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: fixed;
  top: 3rem;
  left: 0;
  height: calc(100vh - 6rem);
  width: 27rem;
}
.fp-demo__left > a {
  text-decoration: none;
  padding-left: 4rem;
  width: 22.5rem;
}
.fp-demo__left > a img {
  width: 100%;
}
.fp-demo__left h6 {
  color: #ced0d5;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
  padding-left: 4rem;
}

.fp-nav {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.fp-nav__element {
  cursor: pointer;
  display: flex;
  margin-bottom: 4.6rem;
  margin-left: 4rem;
  position: relative;
}
.fp-nav__element:nth-of-type(2):before,
.fp-nav__element:nth-of-type(3):before,
.fp-nav__element:nth-of-type(4):before {
  content: "";
  background-color: #e4e6eb;
  border-radius: 50%;
  cursor: auto;
  position: absolute;
  left: 1.5rem;
  bottom: -2.8rem;
  height: 1rem;
  width: 1rem;
}
.fp-nav__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  min-height: 4.2rem;
}
.fp-nav__img-circle {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4rem;
  width: 4rem;
}
.fp-nav__element:hover .fp-nav__img-circle,
.fp-nav__element.selected .fp-nav__img-circle {
  left: -0.6rem;
  height: 5rem;
  width: 5rem;
}
.fp-nav__element:hover .fp-nav__img-circle {
  animation: pop 0.3s linear 1;
}
.fp-nav.active-blue .fp-nav__element.selected .fp-nav__img-circle {
  background-color: #3579F6;
}
.fp-nav.active-blue .fp-nav__element:nth-child(5).selected .fp-nav__img-circle {
  background-color: #47E2BE;
}
.fp-nav.active-orange .fp-nav__element.selected .fp-nav__img-circle {
  background-color: #FF8810;
}


.fp-nav__element:nth-child(2):hover .fp-nav__img-circle,
.fp-nav__element:nth-child(3):hover .fp-nav__img-circle,
.fp-nav__element:nth-child(4):hover .fp-nav__img-circle {
  background-color: #3579F6;
}
.fp-nav__element:nth-child(5):hover .fp-nav__img-circle {
  background-color: #47E2BE;
}
.two-img img:last-child {
  display: none;
}
.fp-nav__element:nth-child(7):hover .fp-nav__img-circle.two-img img:first-child {
  display: none;
}
.fp-nav__element:nth-child(7):hover .fp-nav__img-circle.two-img img:last-child {
  display: block;
}
.fp-nav__element:nth-child(7):hover .fp-nav__img-circle,
.fp-nav__element:nth-child(8):hover .fp-nav__img-circle {
  background-color: #FF8810;
}
.circle-grey {
  background-color: #E4E6EB;
}
.fp-nav__img-circle img {
  width: 2rem;
}
.fp-nav__img h2 {
  display: none;
  color: #e4e6eb;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 3.9rem;
  padding-left: 5.5rem;
}
.fp-nav__element:hover .fp-nav__img h2 {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
}
.fp-nav__element.selected .fp-nav__img h2 {
  display: block;
  font-size: 1.6rem;
}
.fp-nav.active-blue .fp-nav__element.selected .fp-nav__img h2 {
  color: #3579f6;
}
.fp-nav.active-blue .fp-nav__element:nth-child(5).selected .fp-nav__img h2 {
  color: #47E2BE;
}
.fp-nav.active-orange .fp-nav__element.selected .fp-nav__img h2 {
  color: #FF8810;
}
.fp-nav__element:nth-child(2):hover .fp-nav__img h2,
.fp-nav__element:nth-child(3):hover .fp-nav__img h2,
.fp-nav__element:nth-child(4):hover .fp-nav__img h2 {
  color: #3579F6;
}
.fp-nav__element:nth-child(5):hover .fp-nav__img h2 {
  color: #47E2BE;
}
.fp-nav__element:nth-child(7):hover .fp-nav__img h2,
.fp-nav__element:nth-child(8):hover .fp-nav__img h2 {
  color: #FF8810;
}
.fp-nav__element--title {
  background-color: #E4E6EB;
  border-radius: 0 1.3rem 1.3rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2.1rem;
}
.fp-nav.active-blue .fp-nav__element--title:nth-child(1) {
  background-color: #3579f6;
}
.fp-nav.active-orange .fp-nav__element--title:nth-child(6) {
  background-color: #FF8810;
}
.fp-nav__element--title h2 {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2rem;
  margin-right: 1.5rem;
  margin-left: 4rem;
  padding: .5rem 0;
  text-transform: uppercase;
}
.fp-nav__element--title img {
  margin-right: 2rem;
  height: 1.5rem;
}

.docSlider {
  flex-grow: 1;
  left: 27rem;
  width: calc(100vw - 27rem);
}
.docSlider-inner {
  left: 27rem;
}
.fp-demo__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}
.fp-demo__right--mobile {
  padding: 0 13rem;
}
.fp-demo__right--desktop {
  flex-direction: column;
  justify-content: center;
  padding-right: 27rem;
  overflow: visible;
}

.fp-apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 18rem;
}
.fp-apps a {
  display: inline-block;
  margin-bottom: 2.2rem;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.fp-apps a img {
  width: 100%;
}

.fp-apps + .fp-device {
  padding-right: 45rem;
}
.fp-device {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-right: 27rem;
}
.fp-demo__right--desktop > h2,
.fp-device > h2 {
  color: #c3c6cc;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3.9rem;
  margin-bottom: 4rem;
}
.fp-demo__right--desktop > h2 {
  margin-bottom: 9.7rem;
}
.fp-device__bg {
  background: url(../img/fp-mobile-bg.png) top center / 100% auto no-repeat;
  padding-top: 3rem;
  width: 53rem;
}
.fp-device img {

}
.fp-mobile-img {
  height: 79.6em;
  width: 35.6rem;
}
.fp-detourIcon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 50%;
  left: calc(100% + 5rem);
  transition: width .3s linear;
  width: 5rem;
}
.fp-detourIcon:hover {
  width: 20rem;
}
.fp-detourIcon img {
  height: 4.8rem;
  width: 4.8rem;
}
.fp-detourIcon.active {
  display: flex;
}
.fp-detourIcon span {
  display: none;
}
.fp-detourIcon:hover span {
  animation: appear 0.3s linear 1;
  color: #ff8810;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3rem;
  margin-left: 1.3rem;
  white-space: nowrap;
}
.image-container {
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  height: 79.6em;
  width: 35.6rem;
}
.image-container img {
  width: 100%;
}
.fp-mobile-img {
  border-radius: 5rem;
}
.fp-mobile-img img:nth-child(2) {
  display: block;
  position: absolute;
  bottom: 2rem;
  left: calc(100% + 5rem);
}
.image-container .info-text {
  display: none;
}
.swiper-slide-visible .image-container .info-text {
  display: block;
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
}

/* tooltip styles */
.fp-mobile-img + .slider-tooltip {
  display: none;
}
.fp-mobile-img.tooltip + .slider-tooltip {
  background: url(../img/fp-tooltip-bg.png) center / 100% 100% no-repeat;
  display: block;
  padding: 4rem 3.5rem 8rem;
  position: absolute;
  top: 50%;
  left: calc(100% - 7rem);
  transform-origin: 0 100%;
  transform: translateY(-50%);
  width: 44rem;
  z-index: 9;
}
.swiper-slide:nth-child(2) .fp-mobile-img.tooltip + .slider-tooltip {
  top: 55%;
}
.swiper4 .swiper-slide:nth-child(3) .fp-mobile-img.tooltip + .slider-tooltip,
.swiper-slide:nth-child(6) .fp-mobile-img.tooltip + .slider-tooltip {
  top: 30%;
}
.swiper-slide:nth-child(3) .fp-mobile-img.tooltip + .slider-tooltip,
.swiper-slide:nth-child(4) .fp-mobile-img.tooltip + .slider-tooltip,
.swiper-slide:nth-child(5) .fp-mobile-img.tooltip + .slider-tooltip {
  top: 35%;
}
.fp-mobile-img.tooltip + .slider-tooltip h2 {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
}
.tooltip-btns {
  text-align: right;
  width: 100%;
}
.tooltip-btns button {
  background-color: transparent;
  border: 0;
  cursor: default;
  margin: 0 .5rem;
  opacity: .5;
  padding: 1rem .5rem;
}
.tooltip-btns button.active {
  cursor: pointer;
  opacity: 1;
}
.tooltip-btns button img {
  height: 1.5rem;
}


.fp-desktop__bg {
  background: url(../img/fp-desktop-bg-v2.png) top center / 100% auto no-repeat;
  position: relative;
  height: 85.3rem;
  width: 136.6rem;
}
.fp-desktop__mf {
  overflow: hidden;
  position: absolute;
  top: 5.7rem;
  left: -3.9rem;
  height: 6.7rem;
  width: 14.8rem;
}
.fp-desktop__mf > div {
  background: url(../img/fp-mobile-friendly-img.png) top center / 100% auto no-repeat, #e4e6eb;
  border-radius: 5rem 0 0 5rem;
  cursor: pointer;
  position: relative;
  left: 9.1rem;
  transition: left .3s linear;
  height: 100%;
  width: 100%;
}
.fp-desktop__mf > div:hover {
  background: url(../img/fp-mobile-friendly-img-v2.png) top center / 100% auto no-repeat, #47e2be;
  left: 0;
  width: 14.8rem;
}
.fp-desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  height: 85.3em;
  width: 136.6rem;
}
.fp-desktop-img {
  height: 68em;
  width: 111.2rem;
}
.fp-desktop-img + .slider-tooltip {
  display: none;
}
.fp-desktop-img.tooltip + .slider-tooltip {
  background: url(../img/fp-tooltip-bg.png) center / 100% 100% no-repeat;
  display: block;
  padding: 4rem 3rem 8.3rem;
  position: absolute;
  top: 35%;
  left: calc(100% - 30rem);
  transform: translateY(-50%);
  width: 44rem;
  z-index: 9;
}
.swiper-slide:nth-child(2) .fp-desktop-img.tooltip + .slider-tooltip {
  top: 30%;
}
.swiper-slide:nth-child(3) .fp-desktop-img.tooltip + .slider-tooltip {
  top: 20%;
}
.swiper-slide:nth-child(4) .fp-desktop-img.tooltip + .slider-tooltip {
  top: 5%;
}
.swiper2 .swiper-slide:nth-child(5) .fp-desktop-img.tooltip + .slider-tooltip {
  left: calc(100% - 30rem);
  top: 25%;
}
.swiper2 .swiper-slide:nth-child(7) .fp-desktop-img.tooltip + .slider-tooltip {
  left: calc(100% - 30rem);
  top: 5%;
}
.swiper3 .swiper-slide:nth-child(1) .fp-desktop-img.tooltip + .slider-tooltip,
.swiper3 .swiper-slide:nth-child(2) .fp-desktop-img.tooltip + .slider-tooltip {
  left: calc(100% - 31rem);
  top: 20%;
}
.swiper3 .swiper-slide:nth-child(3) .fp-desktop-img.tooltip + .slider-tooltip {
  left: calc(100% - 32rem);
  top: 15%;
}
.swiper3 .swiper-slide:nth-child(5) .fp-desktop-img.tooltip + .slider-tooltip {
  left: calc(100% - 30rem);
  top: 20%;
}
.swiper5 .swiper-slide:nth-child(1) .fp-desktop-img.tooltip + .slider-tooltip {
  left: calc(100% - 38rem);
  top: 20%;
}
.swiper5 .swiper-slide:nth-child(2) .fp-desktop-img.tooltip + .slider-tooltip {
  left: calc(100% - 30rem);
  top: 25%;
}
.swiper5 .swiper-slide:nth-child(3) .fp-desktop-img.tooltip + .slider-tooltip {
  left: calc(100% - 30rem);
  top: 16%;
}
.swiper6 .swiper-slide:nth-child(1) .fp-desktop-img.tooltip + .slider-tooltip {
  left: calc(100% - 20rem);
  top: 10%;
}
.swiper6 .swiper-slide:nth-child(2) .fp-desktop-img.tooltip + .slider-tooltip,
.swiper6 .swiper-slide:nth-child(3) .fp-desktop-img.tooltip + .slider-tooltip {
  left: calc(100% - 33rem);
  top: 30%;
}
.fp-desktop-img.tooltip + .slider-tooltip h2 {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
}


.fp-swiper-navigation {
  margin: 0 auto;
  position: relative;
  height: 3rem;
  width: 22rem;
}


/* overlay styles */
.fp-overlay {
  background-color: rgba(23, 23, 23, 70%);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.fp-overlay.close {
  display: none;
}
.fp-overlay__block {
  background: url(../img/fp-overlay-bg-img.png) center / 100% 100% no-repeat;
  border-radius: 1.3rem;
  display: none;
  flex-direction: column;
  padding: 2.5rem 3.5rem 7rem;
  position: absolute;
  max-width: 46rem;
}
.fp-overlay__block.ovBlock-1 {
  top: 13rem;
  left: 16rem;
}
.fp-overlay__block.ovBlock-2 {
  right: 56rem;
  bottom: 12.3rem;
}
.fp-overlay__block.active {
  display: flex;
}
.fp-overlay__block h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}
.fp-overlay__block p {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: .8rem;
  padding-right: 1.5rem;
}
.fp-overlay__block .next {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 3rem;
  margin-left: auto;
}
.fp-overlay__block .next img {
  margin-left: .8rem;
  width: .5rem;
}


/* Swiper styles */
.swiper1,
.swiper4 {
  overflow: visible;
  width: 35.6rem;
  height: 100%;
}
.swiper2,
.swiper3,
.swiper5,
.swiper6 {
  overflow: visible;
  width: 111.2rem;
  height: 100%;
}
.swiper-wrapper {
  margin-bottom: 4.8rem;
}
.fp-desktop .swiper-wrapper {
  margin-bottom: 0;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  position: relative;
}
.swiper-slide > img {
  display: block;
}
.swiper-button-next, .swiper-button-prev {
  margin: 0;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
  height: 3rem;
  width: 3rem;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
  font-family: unset;
  height: 3rem;
  width: 3rem;
}
.swiper-button-prev:after {
  background: url(../img/fp-arrow-left.png) center / cover no-repeat;
}
.swiper-button-next:after {
  background: url(../img/fp-arrow-right.png) center / cover no-repeat;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
}
.swiper1 .swiper-button-next.swiper-button-disabled,
.swiper2 .swiper-button-next.swiper-button-disabled,
.swiper5 .swiper-button-next.swiper-button-disabled {
  right: -8rem;
  width: 12rem;
}
.swiper3 .swiper-button-next.swiper-button-disabled {
  right: -5rem;
  width: 9rem;
}
.swiper4 .swiper-button-next.swiper-button-disabled {
  right: -8.5rem;
  width: 13rem;
}
.swiper2 .swiper-button-prev.swiper-button-disabled,
.swiper3 .swiper-button-prev.swiper-button-disabled,
.swiper4 .swiper-button-prev.swiper-button-disabled,
.swiper6 .swiper-button-prev.swiper-button-disabled {
  left: -8rem;
  width: 12rem;
}
.swiper5 .swiper-button-prev.swiper-button-disabled {
  left: -5rem;
  width: 9rem;
}
.swiper-button-prev.swiper-button-disabled:after {
  background: url(../img/fp-arrow-left-disabled.png) center / cover no-repeat;
}
.swiper-button-next.swiper-button-disabled:after {
  background: url(../img/fp-arrow-right-disabled.png) center / cover no-repeat;
}
.swiper1 .swiper-button-next.swiper-button-disabled:after {
  background: url(../img/fp-swiper-btn-s1-2.png) center / 100% 100% no-repeat;
  width: 100%;
}
.swiper2 .swiper-button-prev.swiper-button-disabled:after {
  background: url(../img/fp-swiper-btn-s2-1.png) center / 100% 100% no-repeat;
  width: 100%;
}
.swiper2 .swiper-button-next.swiper-button-disabled:after {
  background: url(../img/fp-swiper-btn-s2-2.png) center / 100% 100% no-repeat;
  width: 100%;
}
.swiper3 .swiper-button-prev.swiper-button-disabled:after {
  background: url(../img/fp-swiper-btn-s3-1.png) center / 100% 100% no-repeat;
  width: 100%;
}
.swiper3 .swiper-button-next.swiper-button-disabled:after {
  background: url(../img/fp-swiper-btn-s3-2.png) center / 100% 100% no-repeat;
  width: 100%;
}
.swiper4 .swiper-button-prev.swiper-button-disabled:after {
  background: url(../img/fp-swiper-btn-s4-1.png) center / 100% 100% no-repeat;
  width: 100%;
}
.swiper4 .swiper-button-next.swiper-button-disabled:after {
  background: url(../img/fp-swiper-btn-s4-2.png) center / 100% 100% no-repeat;
  width: 100%;
}
.swiper5 .swiper-button-prev.swiper-button-disabled:after {
  background: url(../img/fp-swiper-btn-s5-1.png) center / 100% 100% no-repeat;
  width: 100%;
}
.swiper5 .swiper-button-next.swiper-button-disabled:after {
  background: url(../img/fp-swiper-btn-s5-2.png) center / 100% 100% no-repeat;
  width: 100%;
}
.swiper6 .swiper-button-prev.swiper-button-disabled:after {
  background: url(../img/fp-swiper-btn-s6-1.png) center / 100% 100% no-repeat;
  width: 100%;
}

.swiper-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: .7rem;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  margin: 0;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
}
.swiper-pagination-bullet {
  background: #E4E6EB;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #596383;
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  margin: 0 .5rem;
  height: .7rem;
  width: .7rem;
}


/* Home page */
.fp-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.1rem 0 3.3rem;
  height: calc(100vh - 6.4rem);
}
.fp-home > img {
  margin-bottom: 15.3rem;
  width: 22.5rem;
}
.fp-home h2 {
  color: #596383;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 4.5rem;
  margin-bottom: 12.3rem;
}
.fp-intro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-grow: 1;
}
.fp-intro img {
  width: 95rem;
}
.fp-home a {
  background-color: #51b6f7;
  border-radius: 2.4rem;
  color: #ffffff;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.9rem;
  margin-bottom: 15.6rem;
  padding: .5rem 7.3rem;
  text-decoration: none;
}
.fp-home h6 {
  color: #ced0d5;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
}


/* animations */
@keyframes appear {
  0%  {
    transform: scale(0);
  }
  100%  {
    transform: scale(1);
  }
}
@keyframes pop {
  50%  {
    transform: scale(1.2) translateY(-50%);
  }
}



@media (max-width: 1640px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1220px), (max-height: 768px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 1120px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 4px;
  }
}

