.icon-circle {
  height: 64px;
  width: 64px;
}
.icon-circle-check {
  height: 46px;
  width: 46px;
}
.premium__intro {
  background: url(img/bgintro-bg.jpg) center / 100% 100% no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
  padding: 20px 0 25px;
  width: 100%;
}
.premium__intro img {
  width: 100%;
  max-width: 650px;
}
.premium__table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 45px;
}
.premium__table-container {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
}
.premium__col {
  box-shadow: 1px 1px 13px rgba(9, 2, 4, 0.2);
}
.premium__col:nth-child(1) {
  background-color: #f4f4f4;
  width: 450px;
  z-index: 1;
}
.premium__col:nth-child(2) {
  background-color: #ffffff;
  box-shadow: 1px 1px 20px rgba(9, 2, 4, 0.5);
  width: 290px;
  z-index: 9;
}
.premium__col:nth-child(3) {
  background-color: #ffffff;
  margin-top: 40px;
  width: 260px;
  z-index: 1;
}
.premium__row {
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  height: 150px;
}
.premium__row p {
  font-size: 13px;
  line-height: 18px;
  margin-top: 5px;
  text-align: center;
}
.premium__row p span.color-red {
  color: #ba2532;
}
.premium__row p span {
  font-size: 18px;
  font-weight: bold;
}
.premium__row-header {
  border-bottom: 1px solid #cccccc;
  height: 390px;
}
.premium__col:first-child .premium__row {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 20px;
}
.premium__col:last-child .premium__row-header {
  height: 350px;
}
.premium__row-fill {
  height: 97px;
}
.premium__row-fill img {
  height: 100%;
  width: 100%;
}
.premium__data {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
}
.premium__data h2 {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.premium__data h2 span {
  font-size: 30px;
  font-weight: bold;
}
.premium__data h2 small {
  color: #000000;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.premium__data .icon-circle {
  margin-right: 45px;
  margin-top: 15px;
}
.premium__box {
  background-color: #fdfdfd;
  box-shadow: 1px 1px 5px rgba(9, 2, 4, 0.5);
  margin: 0 18px 10px 18px;
}
.premium__box-container {
  display: flex;
  flex-direction: row;
}
.premium__box-col:nth-child(1) {
  width: 30%;
}
.premium__box-col:nth-child(2) {
  width: 35%;
}
.premium__box-col:nth-child(3) {
  width: 35%;
}
.premium__box-col .premium__box-row:first-child {
  padding-top: 14px;
  height: 50px;
}
.premium__box-row {
  text-align: center;
}
.premium__box-row p {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}
.premium__box-row p span {
  font-size: 26px;
}
.premium__box-row .bg-red,
.premium__box-row .bg-grey {
  color: #ffffff;
  padding: 2px 8px;
}
.premium__box-row .bg-red {
  background-color: #ba2532;
}
.premium__box-row .bg-grey {
  background-color: #666666;
}
.premium__first {
  margin-left: 15px;
}
.premium__first p {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -1.5px;
  text-align: left;
}
.premium__first p:first-child {
  text-align: center;
}
.premium__first p.color-red {
  color: #ba2532;
}
.premium__first p span {
  color: #ba2532;
  font-size: 10px;
}
.premium__first h2 {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  text-align: center;
}
.premium__first h4 {
  color: #ba2532;
  font-size: 15px;
  text-align: center;
}
.premium__first h5 {
  color: #ba2532;
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 5px 0;
  text-align: center;
}
.premium__box h3 {
  background-color: #ba2532;
  color: #fbfafa;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}
.premium__myEbanzPremium-bg {
  background: url(img/table-section-bg-top-1.png) top / 100% auto no-repeat, #555555;
}
.premium__myEbanzPremium {
  padding: 40px 30px;
  position: relative;
  text-align: center;
}
.premium__myEbanzPremium h3 {
  color: #ff7800;
  font-size: 16px;
  margin-bottom: 50px;
}
.premium__myEbanzPremium h3 span {
  font-size: 28px;
}
.premium__myEbanzPremium .ribbon {
  position: absolute;
  top: -19px;
  right: -23px;
}
.premium__myEbanzPremium h5 {
  color: #fff;
  margin: 0;
}
.premium__myEbanzPremium h5.bg-red {
  display: inline-block;
  background-color: #ba2532;
  padding: 2px 8px;
}
.premium__myEbanzPremium h4 {
  color: #fff;
  font-size: 34px;
}
.premium__myEbanzPremium h4 span {
  font-size: 59px;
}
.premium__myEbanz {
  padding: 30px 30px;
  text-align: center;
}
.premium__myEbanz-bg {
  background: url(img/table-section-bg-top-2.png) top / 100% auto no-repeat;
}
.premium__myEbanz h3 {
  color: #1d978e;
  font-size: 16px;
  margin-bottom: 47px;
}
.premium__myEbanz h3 span {
  font-size: 28px;
}
.premium__myEbanz h5 {
  color: #fff;
  margin: 0;
}
.premium__myEbanz h5.bg-grey {
  display: inline-block;
  background-color: #666666;
  padding: 2px 8px;
}
.premium__myEbanz h4 {
  font-size: 31px;
}
.premium__myEbanz h4 span {
  font-size: 54px;
}
.premium__cta {
  background-color: #ba2532;
  box-shadow: 1px 1px 5px rgba(9, 2, 4, 0.5);
  border-radius: 5px;
  margin: 0 auto 90px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}
.premium__cta a {
  color: #fff;
  display: block;
  font-size: 36px;
  font-weight: 700;
  padding: 25px 0;
  text-decoration: none;
  height: 100%;
}
.premium__faq {
  background-color: #fff;
  border: 1px solid #e1dede;
  box-shadow: 1px 1px 13px rgba(9, 2, 4, 0.2);
  margin: 0 auto 100px;
  max-width: 1000px;
  width: 100%;
}
.premium__faq h2 {
  background-color: #e1dede;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 15px 25px;
}
.premium__faq-content {
  font-weight: 500;
  padding: 20px;
}
.premium__faq-content .text-underline {
  text-decoration: underline;
}
.premium__faq .color-blue {
  color: #1e57e2;
}
.premium__faq .color-red {
  color: #ef0606;
}
.premium__faq h3 {
  font-weight: 700;
  margin: 0;
}
.premium__faq h3 a {
  text-decoration: underline;
}

/* Portrait tablets and medium desktops */
@media (max-width: 1024px) {
  .icon-circle {
    height: 50px;
    width: 50px;
  }
  .icon-circle-check {
    height: 30px;
    width: 30px;
  }
  .premium__myEbanzPremium h3,
  .premium__myEbanz h3 {
    font-size: 13px;
    margin-top: 0;
  }
  .premium__myEbanzPremium h3 span,
  .premium__myEbanz h3 span {
    font-size: 20px;
  }
  .premium__myEbanzPremium h4,
  .premium__myEbanz h4 {
    font-size: 25px;
  }
  .premium__myEbanzPremium h4 span,
  .premium__myEbanz h4 span {
    font-size: 30px;
  }
  .premium__box-row p {
    font-size: 12px;
    line-height: 15px;
  }
  .premium__box-row p span {
    font-size: 20px;
  }
  .premium__box h3 {
    font-size: 14px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .premium__myEbanzPremium,
  .premium__myEbanz {
    padding: 30px 20px;
  }
  .premium__first p br {
    display: none;
  }
  .premium__first p {
    font-size: 12px;
  }
  .premium__first h2 {
    font-size: 20px;
  }
  .premium__box {
    margin: 0 0 5px 0;
  }
  .premium__data .icon-circle {
    margin-right: 20px;
  }
  .premium__col:nth-child(1) {
    width: 400px;
  }
  .premium__col:nth-child(2),
  .premium__col:nth-child(3) {
    width: 200px;
  }
  .premium__myEbanzPremium-bg {
    background: url(img/table-section-bg-top-1.png) top / 100% 150px no-repeat, #555555;
  }
  .premium__myEbanz-bg {
    background: url(img/table-section-bg-top-2.png) top / 100% 110px no-repeat;
  }
  .premium__myEbanzPremium h3 {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 80px;
  }
  .premium__myEbanz h3 {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .premium__myEbanzPremium h4,
  .premium__myEbanz h4 {
    font-size: 20px;
  }
  .premium__col:first-child .premium__row {
    padding: 0 5px;
  }
  .premium__cta a {
    font-size: 25px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .premium__data {
    padding: 0 5px;
  }
  .premium__data .icon-circle {
    margin-right: 5px;
  }
  .premium__myEbanzPremium, .premium__myEbanz {
    padding: 20px 10px;
  }
  .premium__col:nth-child(1) {
    width: 225px;
  }
  .premium__col:nth-child(2),
  .premium__col:nth-child(3) {
    width: 100px;
  }
  .premium__row {
    padding: 20px 5px 5px;
  }
  .premium__row p {
    font-size: 11px;
    line-height: 15px;
  }
  .premium__first h2 {
    font-size: 15px;
  }
  .premium__myEbanzPremium h3 span,
  .premium__myEbanz h3 span {
    font-size: 15px;
  }
  .premium__data h2 span {
    font-size: 20px;
  }
}
