<style>
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');

#hpp.hpp * {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#hpp h1,
#hpp h2,
#hpp h3,
#hpp h4,
#hpp h5,
#hpp h6,
#hpp li,
#hpp p,
#hpp a {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

#hpp .hpp-btn__primary {
  background-color: #c80000;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  border-radius: 20rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 1rem 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__primary-text {
  color: #BA2532;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__primary-video {
  color: #BA2532;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__primary-video img {
  margin-right: 1rem;
  height: 1.6rem;
  width: 1.6rem;
}
#hpp .hpp-btn__secondary {
  color: #9e15bf;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__white {
  background-color: #ffffff;
  border-radius: 20rem;
  color: #474ba8;
  display: inline-block;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.9rem;
  padding: 1.1rem 2.3rem;
  text-decoration: none;
}
#hpp .hpp-btn__blue {
  background-color: #2e3696;
  border-radius: 20rem;
  color: #ffffff;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  padding: 2.2rem 12.2rem;
  text-decoration: none;
}


#hpp .hpp-container {
  margin: 0 auto;
  width: 1224px;
  max-width: 100%;
}


#hpp .hpp-header {
  background: url(https://www.edanz.com/sites/default/files/hpp_10/hpp-header-bg-img-10.png) center / cover no-repeat;
  padding: 13rem 0 8rem;
}
#hpp .hpp-header h1 {
  color: #ffffff;
  font-size: 7.7rem;
  font-weight: 600;
  line-height: 8.4rem;
  margin-bottom: 1rem;
}
#hpp .hpp-header p {
  color: #ffffff;
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-bottom: 7rem;
  max-width: 63rem;
}


#hpp .hpp-help {
  padding: 7rem 0 10rem;
}
#hpp .hpp-help h2 {
  color: #ba2532;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 5.5rem;
  margin-bottom: 7rem;
  text-align: center;
}
#hpp .hpp-help__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#hpp .hpp-help__block {
  width: 60rem;
  max-width: 100%;
}
#hpp .hpp-help__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 12.4rem;
}
#hpp .hpp-help__block:nth-child(1) .hpp-help__title {
  background: url(https://www.edanz.com/sites/default/files/hpp/hpp-help-bg-1.png) center / 100% 100% no-repeat;
}
#hpp .hpp-help__block:nth-child(2) .hpp-help__title {
  background: url(https://www.edanz.com/sites/default/files/hpp/hpp-help-bg-2.png) center / 100% 100% no-repeat;
}
#hpp .hpp-help__title h4 {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
  text-transform: uppercase;
}
#hpp .hpp-help__blocks {
  background: rgba(97, 105, 248, 0.02);
  -webkit-border-radius: 0 0 1.5rem 1.5rem;
  -moz-border-radius: 0 0 1.5rem 1.5rem;
  border-radius: 0 0 1.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem 1.2rem 8.3rem;
}
#hpp .hpp-help__block:nth-child(1) .hpp-help__blocks {
  border: 3px solid #CB24B9;
}
#hpp .hpp-help__block:nth-child(2) .hpp-help__blocks   {
  border: 3px solid #4A51E8;
}
#hpp .hpp-help__blocks a {
  display: inline-block;
  margin: 1.2rem;
}
#hpp .hpp-help__blocks img {
  width: 18.4rem;
}


#hpp .hpp-solution {
  background-color: #ecfeff;
}
#hpp .hpp-solution .hpp-container {
  display: flex;
  flex-direction: row;
  padding: 4rem 0 6rem;
}
#hpp .hpp-solution .hpp-container > img {
  flex-shrink: 0;
  width: 48rem;
  max-width: 100%;
}
#hpp .hpp-solution__description {
  padding: 7.5rem 10rem 0 10rem;
}
#hpp .hpp-solution__description h2 {
  color: #474ba8;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  margin-bottom: 2.2rem;
}
#hpp .hpp-solution__description p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
}
#hpp .hpp-solution__description a {
  color: #474ba8;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3.2rem;
  text-decoration: none;
}


#hpp .hpp-can {
  padding: 10.6rem 0 2rem;
}
#hpp .hpp-can .hpp-container > h2 {
  color: #BA2532;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.1rem;
  margin-bottom: 7.0rem;
  text-align: center;
}
#hpp .hpp-can__row {
  display: flex;
  flex-direction: row;
  margin-bottom: 7.0rem;
}
#hpp .hpp-can__row.row-reverse {
  flex-direction: row-reverse;
}
#hpp .hpp-can__row.row-reverse .hpp-description {
  padding: 8rem 8rem 0 2rem;
}
#hpp .hpp-can__row > img {
  flex-shrink: 0;
  width: 60.0rem;
  max-width: 100%;
}
#hpp .hpp-description {
  padding: 4.0rem 5.0rem 0 7.0rem;
}
#hpp .hpp-description h2 {
  color: #474BA8;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 1.5rem;
}
#hpp .hpp-description p {
  color: #474ba8;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
  margin-bottom: 2rem;
}
#hpp .hpp-description ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#hpp .hpp-description ul li {
  color: #474ba8;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 3.2rem;
}
#hpp .hpp-description ul li.text-underline {
  text-decoration: underline;
}
#hpp .hpp-description ul li > img {
  margin-right: 1.0rem;
  height: 1.8rem;
  width: 1.8rem;
}
#hpp .hpp-description ul li > a {
  background-color: #ba2532;
  border-radius: 5.0rem;
  display: inline-block;
  font-size: 0;
  margin-left: 1rem;
  padding: .6rem 2rem;
}
#hpp .hpp-description ul li > a > img {
  height: 1.2rem;
  width: 1.5rem;
}
#hpp .hpp-description > a {
  background-color: #ba2532;
  border-radius: 5.0rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 3.2rem;
  margin-top: 3.0rem;
  padding: .4rem 1.6rem;
  text-decoration: none;
}


#hpp .hpp-statistic {
  background-color: #474ba8;
  padding: 8rem 0;
}
#hpp .hpp-statistic .hpp-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#hpp .hpp-statistic h2 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.1rem;
  text-align: center;
}
#hpp .hpp-statistic h2 span {
  display: block;
  font-size: 2rem;
  font-weight: 400;
}


#hpp .hpp-partners {
  background-color: #fff4dd;
}
#hpp .hpp-partners .hpp-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7rem 3rem 4.5rem;
}
#hpp .hpp-partners__description {
  flex-shrink: 0;
  width: 42.5rem;
  max-width: 100%;
}
#hpp .hpp-partners__description h2 {
  color: #474ba8;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 2.3rem;
}
#hpp .hpp-partners__description p {
  color: #474ba8;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
}
#hpp .hpp-partners__description ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#hpp .hpp-partners__description ul li {
  color: #474ba8;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 3.2rem;
}
#hpp .hpp-partners__description ul li img {
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
}
#hpp .hpp-partners__logos {
  width: 53rem;
  max-width: 100%;
}
#hpp .hpp-partners__logos img {
  width: 100%;
}


#hpp .hpp-latest {
  padding: 9.4rem 0 0.4rem;
}
#hpp .hpp-latest h2 {
  color: #474ba8;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 5.8rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
#hpp .hpp-latest h2 span {
  color: #ba2532;
}
#hpp .hpp-latest__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#hpp .hpp-latest__block {
  box-shadow: 1px 1px 7px rgba(35, 31, 32, 9%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 3.5rem 4rem;
  padding: 2.5rem 1.3rem 3.5rem;
  width: 49rem;
}
#hpp .hpp-latest__data {
  padding-right: 1rem;
}
#hpp .hpp-latest__data h3 {
  color: #474ba8;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.2rem;
  margin-bottom: 2.2rem;
}
#hpp .hpp-latest__data p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7rem;
  margin-bottom: 3rem;
}
#hpp .hpp-latest__data a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7rem;
  padding: .7rem 1.4rem;
}
#hpp .hpp-latest__block > img {
  flex-shrink: 0;
  padding-top: 1.5rem;
  width: 19.5rem;
}


#hpp .hpp-feedback {
  background: url(https://www.edanz.com/sites/default/files/hpp_10/hpp-feedback-bg.png) center / cover no-repeat;
}
#hpp .hpp-feedback .hpp-container {
  display: flex;
  flex-direction: row;
  padding: 5.7rem 0 7.3rem;
}
#hpp .hpp-feedback__block {
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 .6rem;
  padding: 5rem 6.5rem 4rem 2rem;
}
#hpp .hpp-feedback__block:first-child {
  background-color: #e2fbf5;
}
#hpp .hpp-feedback__block:last-child h2,
#hpp .hpp-feedback__block:last-child h3,
#hpp .hpp-feedback__block:last-child p {
  color: #ffffff;
}
#hpp .hpp-feedback__block > img {
  flex-shrink: 0;
  margin-right: 1.8rem;
  height: 8.2rem;
  width: 8.2rem;
}
#hpp .hpp-feedback__data h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
  margin-bottom: 1.2rem;
}
#hpp .hpp-feedback__data h3 {
  color: #8c8c8d;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.9rem;
  margin-bottom: 1.6rem;
}
#hpp .hpp-feedback__data > img {
  margin-bottom: 2.1rem;
  width: 10.6rem;
}
#hpp .hpp-feedback__data p {
  color: #575757;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.6rem;
}


#hpp .hpp-projects {
  background-color: #ecfeff;
  padding: 5.3rem 0 6.7rem;
}
#hpp .hpp-projects h2 {
  color: #474ba8;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 5.8rem;
  margin-bottom: 6rem;
  text-align: center;
}
#hpp .hpp-projects h2 span {
  color: #ba2532;
}
#hpp .hpp-projects__blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3.2rem;
}
#hpp .hpp-projects__blocks img {
  margin: 0 5rem;
  width: 31.2rem;
  max-width: 100%;
}
#hpp .hpp-projects__link {
  text-align: center;
}
#hpp .hpp-projects__link a {
  color: #2e3696;
  font-size: 1.7rem;
  line-height: 5.8rem;
}


#hpp .hpp-create {
  background-color: #ba2532;
}
#hpp .hpp-create .hpp-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3.3rem 0;
}
#hpp .hpp-create__left {
  color: #ffffff;
  flex-shrink: 0;
}
#hpp .hpp-create__left h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.8rem;
}
#hpp .hpp-create__left h3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
#hpp .hpp-create__right {
  flex-grow: 1;
  margin: 0 14.5rem;
  text-align: center;
}
#hpp .hpp-create__right a {
  margin-bottom: 1.9rem;
}
#hpp .hpp-create__right p {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.8rem;
}


#hpp .hpp-disclaimer {
  padding: 2rem 0;
}
#hpp .hpp-disclaimer p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}


@media (max-width: 1439px) {
  html {
    font-size: 9px;
  }

  #hpp .hpp-container {
    padding: 0 2rem;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 7px;
  }


  #hpp .hpp-create .hpp-container {
    padding: 3rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6px;
  }

  #hpp .hpp-help h3 {
    margin-bottom: 2rem;
  }
  #hpp .hpp-help h2 {
    margin-bottom: 4rem;
  }
  #hpp .hpp-help__row {
    flex-direction: column;
    align-items: center;
  }
  #hpp .hpp-help__block {
    margin: 1rem;
  }


  #hpp .hpp-solution .hpp-container {
    flex-direction: column;
    align-items: center;
  }


  #hpp .hpp-can__row,
  #hpp .hpp-can__row.row-reverse{
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  #hpp .hpp-can__row .hpp-description,
  #hpp .hpp-can__row.row-reverse .hpp-description {
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
    padding: 3rem 0 2rem;
    width: 100%;
  }


  #hpp .hpp-statistic {
    margin: 0;
    padding: 3rem 0 0;
  }
  #hpp .hpp-statistic .hpp-container {
    flex-direction: column;
    align-items: center;
  }
  #hpp .hpp-statistic h2 {
    margin-bottom: 3rem;
  }


  #hpp .hpp-partners .hpp-container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 5rem 5rem 10rem;
  }
  #hpp .hpp-partners__description {
    width: 100%;
  }


  #hpp .hpp-latest__block {
    width: 70rem;
  }


  #hpp .hpp-feedback .hpp-container {
    flex-direction: column;
  }


  #hpp .hpp-projects__blocks {
    flex-wrap: wrap;
  }
  #hpp .hpp-projects__blocks img {
    margin-bottom: 3rem;
  }

  #hpp .hpp-create .hpp-container {
    flex-direction: column;
  }
  #hpp .hpp-create__left {
    margin-bottom: 3rem;
    text-align: center;
  }


  #hpp .hpp-disclaimer p {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 4px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 3px;
  }
}
</style>
