<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
.mdsp * {
  box-sizing: border-box;
}
.mdsp h1,
.mdsp h2,
.mdsp h3,
.mdsp h4,
.mdsp h5,
.mdsp h6,
.mdsp li,
.mdsp a,
.mdsp p {
  color: #000;
  font-family: 'Noto Sans', sans-serif !important;
  font-weight: 500 !important;
  margin: 0;
}
.mdsp-container {
  margin: 0 auto;
  padding-bottom: 5px;
  max-width: 1000px;
}
#mdsp-form {
  padding-bottom: 80px;
}

.mdsp-header {
  background: url(https://www.edanz.com/sites/default/files/cam-header-bg.jpg) center / cover no-repeat;
  margin-bottom: 40px;
  padding: 85px 100px 115px;
}
.mdsp-header h1 {
  font-size: 34px !important;
  font-weight: 700 !important;
  line-height: 34px;
  margin-bottom: 11px;
}
.mdsp-header h2 {
  font-size: 17px !important;
  font-weight: 700 !important;
  line-height: 22px;
}
.mdsp-header h1 span,
.mdsp-header h2 span {
  background-color: #fff;
  display: inline-block;
  padding: 9px 6px;
}


.mdsp-element {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 4px solid #023762;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 30px 40px 20px 30px;
}
.mdsp-element:not(:last-child) {
  margin-bottom: 40px;
}
.mdsp-left {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 555px;
}
.mdsp-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}
.mdsp-title img {
  margin-right: 10px;
  height: 60px;
  width: 60px;
}
.mdsp-title h2 {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 26px;
}
.mdsp-element p {
  font-size: 17px !important;
  line-height: 26px;
  margin-bottom: 30px;
}
.mdsp-element ul {
  list-style: none;
  margin-bottom: 20px;
  padding: 0 0 0 25px;
}
.mdsp-element ul li {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 26px;
  position: relative;
}
.mdsp-element ul li:before {
  content: "";
  background: url(https://www.edanz.com/sites/default/files/cam-icon-check.png) center / 100% 100% no-repeat;
  position: absolute;
  left: -25px;
  top: 5px;
  height: 15px;
  width: 15px;
}
.mdsp-btn {
  padding-left: 90px;
}
.mdsp-btn a {
  background-color: #ba2532;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 19px;
  padding: 12px 24px;
  text-decoration: none;
}
.mdsp-pay {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 25px;
}
.mdsp-pay--bottom {
  margin-top: 0;
  width: 100%;
}
.mdsp-pay--bottom .mdsp-pay--1 {
  margin-top: 0;
}
.mdsp-pay--bottom .mdsp-pay--2 {
  padding-top: 20px;
  margin-left: 40px;
  max-width: 600px;
  width: 100%;
}
.mdsp-pay h2 {
  flex-shrink: 0;
  font-size: 12px !important;
  font-weight: 700 !important;
  line-height: 26px;
  margin: 0;
  width: 140px;
}
.mdsp-pay--1 {
  background-color: #FCFCFC;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-right: 10px;
  padding: 15px 20px 15px 15px;
}
.mdsp-pay--1 span {
  color: #29ca9b;
  display: block;
  font-size: 24px !important;
  line-height: 30px;
  margin-top: 7px;
}
.mdsp-pay--1 h2:first-child {
  margin-right: 20px;
  width: 110px;
}
.mdsp-pay--2 {
  margin-left: auto;
  flex-shrink: 0;
  min-height: 100px;
  width: 240px;
}
.mdsp-pay--2 h2 {
  margin-bottom: 30px;
  width: 100%;
}
.mdsp-pay--2 p {
  font-size: 12px !important;
  line-height: 16px;
  margin: 0;
}
.mdsp-pay--2 h2 span {
  display: block;
  font-weight: 500 !important;
  line-height: 16px;
}

.mdsp-right {
  text-align: right;
  max-width: 365px;
  width: 100%;
}
.mdsp-right img:first-child {
  margin-bottom: 25px;
  height: 50px;
  width: 50px;
}
.mdsp-right img:last-child {
  width: 100%;
}


@media (max-width: 1024px) {
  .mdsp-header {
    padding: 85px 20px 115px;
    text-align: center;
  }
  .mdsp-data {
    align-items: center;
    padding: 20px 10px 10px;
  }
  .mdsp-img,
  .mdsp-img--small img.img-small {
    padding: 40px 30px 50px;
  }
  .mdsp-element {
    justify-content: center;
  }
  .mdsp-data a {
    margin-left: 0;
    text-align: center;
  }
  .mdsp-row__element {
    width: 100%;
  }
  .mdsp-btn {
    padding: 0;
    text-align: center;
  }
  .mdsp-pay {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
  }
  .mdsp-row__left {
    display: flex;
    flex-direction: row;
  }
  .mdsp-pay--1 {
    padding: 15px;
  }
  .mdsp-pay--2 {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .mdsp-pay--bottom .mdsp-pay--1 {
    margin: 0;
  }
  .mdsp-pay--bottom .mdsp-pay--2 {
    margin: 0;
    max-width: 100%;
  }
  .mdsp-left {
    margin: 0;
  }
  .mdsp-right {
    margin-top: 25px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .mdsp-data {
    width: 100%;
  }
  .mdsp-element {
    padding: 20px 30px 40px;
  }
  .mdsp-pay--2 {
    padding: 10px 0;
  }
}
</style>