html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}


.jake-header {
  background: #9EA0AF;
}
.jake-header__bg {
  position: relative;
}
.jake-header__bg:before {
  content: "";
  background: url(../img/header-bg.png) center / cover no-repeat;
  mix-blend-mode: luminosity;
  opacity: 33%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.jake-header__blur {
  position: relative;
  z-index: 2;
}
.jake-header__blur:before {
  content: "";
  backdrop-filter: blur(.4rem);
  -webkit-backdrop-filter: blur(.4rem);
  background-color: rgba(0, 0, 0, 0.21);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.jake-header__container {
  margin: 0 auto;
  width: 153.0rem;
  max-width: 100%;
  position: relative;
  z-index: 3;
}
.jake-header__title {
  margin-bottom: 1rem;
  padding-top: 7.0rem;
}
.jake-header__title h1 {
  color: #ffffff;
  font-size: 4.0rem;
  line-height: 5.5rem;
  letter-spacing: 2.0rem;
  margin-bottom: 1.3rem;
  text-align: center;
  text-transform: uppercase;
}
.jake-header__title hr {
  background-color: #ffffff;
  border: 0;
  color: #ffffff;
  margin: 0 0 1.7rem;
  height: .1rem;
  width: 100%;
}
.jake-header__title h2 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.4rem;
  letter-spacing: .8rem;
  text-align: center;
  text-transform: uppercase;
}

.jake-header__slider {
  margin-bottom: 1rem;
  height: 69rem;
}
.jake-header__slider .jake-header__slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
}
.jake-header__slider .jake-header__slide-2 {
  width: 140rem !important;
}
.jake-header__slider .jake-header__slide-3 {
  width: 121.5rem !important;
}
.jake-header__slider .jake-header__slide-4 {
  width: 107.5rem !important;
}
.jake-header__slider .jake-header__slide-5 {
  width: 91.5rem !important;
}
.jake-header__slide-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  max-width: 100%;
}
.jake-header__slide-img img {
  width: 100%;
}
.jake-header__slider .jake-header__slide-1 .jake-header__slide-img,
.jake-header__slider .jake-header__slide-2 .jake-header__slide-img,
.jake-header__slider .jake-header__slide-3 .jake-header__slide-img,
.jake-header__slider .jake-header__slide-4 .jake-header__slide-img,
.jake-header__slider .jake-header__slide-5 .jake-header__slide-img {
  position: relative;
  height: 44.5rem;
  width: 44.5rem;
}
.jake-header__slider .jake-header__slide-1 .jake-header__slide-img:before,
.jake-header__slider .jake-header__slide-2 .jake-header__slide-img:before,
.jake-header__slider .jake-header__slide-3 .jake-header__slide-img:before,
.jake-header__slider .jake-header__slide-4 .jake-header__slide-img:before,
.jake-header__slider .jake-header__slide-5 .jake-header__slide-img:before {
  content: "";
  background: url(../img/person-mask.png) center / 100% 100% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.jake-header__slider .jake-header__slide-6,
.jake-header__slider .jake-header__slide-7,
.jake-header__slider .jake-header__slide-8 {
  justify-content: center;
}
.jake-header__mp3 {
  padding-bottom: 3.5rem;
  position: relative;
  text-align: center;
  z-index: 99;
}
.jake-header__mp3 .play {
  background-color: transparent;
  border: 0.2rem solid #9DA1B9;
  -webkit-border-radius: 8rem;
  -moz-border-radius: 8rem;
  border-radius: 8rem;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 2.7rem;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  height: 7.2rem;
  width: 40rem;
  white-space: nowrap;
}
.jake-header__mp3 .play:before {
  content: "PLAY Soundtrack";
  white-space: nowrap;
}
.jake-header__mp3 .play:hover {
  border: 0.2rem solid #ffffff;
}
.jake-header__mp3 .play.mute:before {
  content: "STOP Soundtrack";
}
.jake-header__mp3 .play.mute:hover {
  border: 0.2rem solid #ffffff;
}


.jake-main {
  background-color: #6d7083;
}
.jake-main__container {
  margin: 0 auto;
  width: 97.0rem;
  max-width: 100%;
}


.jake-start {
  padding: 11.7rem 0 0;
  text-align: center;
}
.jake-start h2 {
  color: #ffffff;
  font-size: 4.0rem;
  font-weight: 800;
  line-height: 5.5rem;
  margin-bottom: 2rem;
}
.jake-start h3 {
  color: #9da1b9;
  font-size: 3.0rem;
  font-weight: 600;
  line-height: 4.1rem;
  margin-bottom: 7.7rem;
}
.jake-start__img {
  margin: 0 auto;
  width: 81.5rem;
  max-width: 100%;
}
.jake-start__img img {
  width: 100%;
}


.jake-main__title {
  padding: 6.0rem 0 5.5rem;
  text-align: center;
}
.jake-main__title h3 {
  color: #9da1b9;
  font-size: 3.0rem;
  font-weight: 600;
  line-height: 4.1rem;
  margin-bottom: 2.0rem;
}
.jake-main__title h2 {
  color: #ffffff;
  font-size: 5.0rem;
  font-weight: 800;
  line-height: 6.8rem;
}


.jake-main__line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.jake-main__line:before {
  content: "";
  background-color: #9DA1B9;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: .3rem;
  width: 100%;
}
.jake-main__line-block {
  background-color: #6d7083;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15.0rem;
  z-index: 1;
}
.jake-main__line-block img {
  height: 5.0rem;
}


.jake-main__countdown {
  border: 0.3rem solid #9DA1B9;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 9.8rem auto 7.9rem;
  padding: 2.6rem 8.5rem;
  width: 80.0rem;
  max-width: 100%;
}
.jake-main__countdown-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jake-main__countdown h2 {
  color: #ffffff;
  font-size: 6.1rem;
  font-weight: 300;
  line-height: 8.3rem;
}
.jake-main__countdown h3 {
  color: #9da1b9;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3.6rem;
}


.jake-main__plan {
  margin-bottom: 11.5rem;
  position: relative;
}
.jake-main__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.jake-main__row:first-of-type {
  padding-top: 4.5rem;
  padding-bottom: 11.5rem;
}
.jake-main__col:first-child {
  width: 36.5rem;
}
.jake-main__col:last-child {
  width: 44.5rem;
}
.jake-main__img {
  margin-bottom: 3.0rem;
  width: 44.5rem;
  max-width: 100%;
}
.jake-main__img img {
  width: 100%;
}
.jake-main__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.jake-main__place-1 {
  padding-top: 6.5rem;
}
.jake-main__place-2 {
  padding-top: 7.0rem;
}
.jake-main__address {
  color: #ffffff;
}
.jake-main__address h2 {
  font-size: 3.0rem;
  font-weight: 300;
  line-height: 4.1rem;
}
.jake-main__address h2 span {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
}
.jake-main__address h5 {
  color: #9da1b9;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 2.4rem;
}
.jake-main__address h3 {
  font-size: 2.4rem;
  line-height: 3.3rem;
}
.jake-main__address h3 span {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
}
.jake-main__cta a,
.jake-main__cta button {
  display: inline-block;
  height: 6.8rem;
  width: 6.8rem;
}
.jake-main__cta-map a {
  background: url(../img/map-icon.svg) center / 100% 100% no-repeat;
}
.jake-main__cta-map a:hover {
  background: url(../img/map-icon-hover.svg) center / 100% 100% no-repeat;
}
.jake-main__book {
  margin-top: 3.0rem;
}
.jake-main__book-desktop {
  display: block;
}
.jake-main__book-mobile {
  display: none;
}
.jake-main__book a {
  border: .2rem solid #9DA1B9;
  -webkit-border-radius: 5.0rem;
  -moz-border-radius: 5.0rem;
  border-radius: 5.0rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.9rem;
  padding: 1.3rem 2.0rem;
  text-decoration: none;
}
.jake-main__book a:hover {
  border: .2rem solid #ffffff;
}
.jake-main__vline {
  position: absolute;
  top: 0;
  left: calc(36.5rem + 8.0rem);
  height: calc(100% - 1.3rem);
}
.jake-main__vline:before {
  content: "";
  background-color: #9da1b9;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: .3rem;
  z-index: 2;
}
.jake-main__vline > span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.jake-main__vline-small {
  background-color: #9da1b9;
  height: 2.1rem;
  width: 2.1rem;
}
.jake-main__vline-big {
  background-color: #ffffff;
  border: .5rem solid #9DA1B9;
  height: 3rem;
  width: 3rem;
}
.jake-main__vline span:nth-child(1) {
  top: 0;
}
.jake-main__vline span:nth-child(2) {
  top: 12.0rem;
}
.jake-main__vline span:nth-child(3) {
  top: 40%;
}
.jake-main__vline span:nth-child(4) {
  top: 58.0rem;
}
.jake-main__vline span:nth-child(5) {
  top: auto;
  bottom: 0;
}


.jake-main__hotels {
  padding: 5.0rem 0 9.5rem;
}
.jake-main__hotels h2 {
  color: #ffffff;
  font-size: 4.0rem;
  font-weight: 800;
  line-height: 5.5rem;
  margin-bottom: 7.5rem;
  text-align: center;
}
.jake-main__hotels-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.jake-main__hotels-block {
  width: 27.0rem;
}
.jake-main__hotels-block h3 {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.jake-main__hotels-block hr {
  background-color: #9da1b9;
  border: 0;
  margin: 1.5rem 0 2.0rem;
  height: .1rem;
}
.jake-main__hotels-block a {
  color: #9da1b9;
  display: block;
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-decoration: none;
}
.jake-main__hotels-block a:hover {
  color: #ffffff;
}


.jake-footer {
  background-color: #595b6c;
}
.jake-footer__container {
  margin: 0 auto;
  padding: 3.0rem 0 0;
  width: 80.0rem;
  max-width: 100%;
}
.jake-footer h2 {
  color: #ffffff;
  font-size: 5.0rem;
  font-weight: 800;
  line-height: 6.8rem;
  margin-bottom: 3.0rem;
  text-align: center;
}
.jake-footer__registry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5.0rem;
}
.jake-footer__registry a {
  display: inline-block;
  text-decoration: none;
}
.jake-footer__bl {
  background: url(../img/registry-1-logo.png) center / 100% 100% no-repeat;
  height: 6.8rem;
  width: 31.0rem;
}
.jake-footer__bl:hover {
  background: url(../img/registry-1-logo-hover.png) center / 100% 100% no-repeat;
}
.jake-footer__wil {
  background: url(../img/registry-2-logo.png) center / 100% 100% no-repeat;
  height: 2.8rem;
  width: 39.0rem;
}
.jake-footer__wil:hover {
  background: url(../img/registry-2-logo-hover.png) center / 100% 100% no-repeat;
}

.jake-jota {
  background-color: #45495d;
  padding: 0.6rem 1.2rem;
  text-align: right;
}
.jake-jota img {
  width: 8rem;
}



@media (max-width: 1530px) {
  html {
    font-size: 9px;
  }


  .jake-header__container {
    padding: 0 10rem;
    width: calc(100% - 20rem);
  }


  .jake-header__slider .jake-header__slide-2 {
    width: 81vw !important;
  }
  .jake-header__slider .jake-header__slide-3 {
    width: 70.3vw !important;
  }
  .jake-header__slider .jake-header__slide-4 {
    width: 62.2vw !important;
  }
  .jake-header__slider .jake-header__slide-5 {
    width: 55vw !important;
  }
  .jake-header__slider .jake-header__slide-1 .jake-header__slide-img,
  .jake-header__slider .jake-header__slide-2 .jake-header__slide-img,
  .jake-header__slider .jake-header__slide-3 .jake-header__slide-img,
  .jake-header__slider .jake-header__slide-4 .jake-header__slide-img,
  .jake-header__slider .jake-header__slide-5 .jake-header__slide-img {
    height: 27vw;
    width: 27vw;
  }
  .jake-header__slider .jake-header__slide-6,
  .jake-header__slider .jake-header__slide-7,
  .jake-header__slider .jake-header__slide-8 {
    padding: 0;
  }
}

@media (max-width: 1284px) {
  html {
    font-size: 10px;
  }


  .jake-header__title {
    margin-bottom: 0;
    padding-top: 5rem;
  }
  .jake-header__title h1 {
    font-size: 8.0rem;
    line-height: 11.0rem;
    letter-spacing: 1.2rem;
    margin-bottom: 3.1rem;
  }
  .jake-header__title hr {
    margin: 0 0 3.2rem;
    height: .2rem;
  }
  .jake-header__title h2 {
    font-size: 4.0rem;
    line-height: 5.5rem;
    letter-spacing: .8rem;
  }

  .jake-header__slider {
    margin-bottom: 0;
  }
  .jake-header__slider .jake-header__slide-2 {
    width: 96% !important;
  }
  .jake-header__slider .jake-header__slide-3 {
    width: 92% !important;
  }
  .jake-header__slider .jake-header__slide-4 {
    width: 88% !important;
  }
  .jake-header__slider .jake-header__slide-5 {
    width: 84% !important;
  }
  .jake-header__slider .jake-header__slide-1 .jake-header__slide-img,
  .jake-header__slider .jake-header__slide-2 .jake-header__slide-img,
  .jake-header__slider .jake-header__slide-3 .jake-header__slide-img,
  .jake-header__slider .jake-header__slide-4 .jake-header__slide-img,
  .jake-header__slider .jake-header__slide-5 .jake-header__slide-img {
    height: 35vw;
    width: 35vw;
  }
  .jake-header__slide-img,
  .jake-header__slide-img img {
    height: auto;
    width: 100%;
  }
  .jake-header__mp3 {
    padding-bottom: 8.8rem;
  }


  .jake-main__container {
    padding: 0 10.0rem;
    width: auto;
  }


  .jake-start {
    padding: 10.5rem 0 0;
  }
  .jake-start h2 {
    font-size: 7.0rem;
    line-height: 9.6rem;
    margin: 0 auto 4.1rem;
    width: 75.0rem;
  }
  .jake-start h3 {
    font-size: 3.5rem;
    line-height: 4.7rem;
    margin-bottom: 10.6rem;
  }
  .jake-start__img {
    width: 99.0rem;
  }


  .jake-main__title {
    padding: 8.0rem 0 9.0rem;
  }
  .jake-main__title h3 {
    font-size: 3.5rem;
    line-height: 4.7rem;
  }
  .jake-main__title h2 {
    font-size: 7.0rem;
    line-height: 9.6rem;
  }


  .jake-main__countdown {
    margin: 6.7rem 0 5.5rem;
    padding: 2.9rem 9rem 2.7rem;
    width: calc(100% - 18.6rem);
  }
  .jake-main__countdown h2 {
    font-size: 10.0rem;
    line-height: 10.6rem;
  }
  .jake-main__countdown h3 {
    font-size: 3.0rem;
    line-height: 4.1rem;
  }


  .jake-main__plan {
    margin-bottom: 12.0rem;
  }
  .jake-main__row {
    flex-direction: column;
    padding-left: 7.0rem;
  }
  .jake-main__row:first-of-type {
    padding-top: 9.2rem;
    padding-bottom: 0;
  }
  .jake-main__col:first-child,
  .jake-main__col:last-child {
    width: 100%;
  }
  .jake-main__col:last-child {
    display: flex;
    flex-direction: row;
    margin-bottom: 15.1rem;
  }
  .jake-main__img {
    flex-shrink: 0;
    margin-bottom: 0;
    margin-right: 3.7rem;
    width: 40rem;
  }
  .jake-main__place-1,
  .jake-main__place-2 {
    align-items: flex-start;
    margin-bottom: 5.1rem;
    padding-top: 0;
  }
  .jake-main__address h2 {
    font-size: 6.0rem;
    line-height: 8.2rem;
    margin-bottom: 2.8rem;
  }
  .jake-main__address h2 span {
    font-size: 3.0rem;
    line-height: 4.1rem;
  }
  .jake-main__address h5 {
    font-size: 3.0rem;
    line-height: 4.1rem;
  }
  .jake-main__address h3 {
    font-size: 4.0rem;
    line-height: 5.0rem;
  }
  .jake-main__address h3 span {
    font-size: 4.0rem;
  }
  .jake-main__book {
    margin-top: 0;
  }
  .jake-main__book-desktop {
    display: none;
  }
  .jake-main__book-mobile {
    display: block;
    text-align: center;
  }
  .jake-main__book a {
    border: .3rem solid #9DA1B9;
    font-size: 3.0rem;
    line-height: 4.1rem;
    padding: 2.2rem 12.7rem;
  }
  .jake-main__vline {
    left: 0;
    height: calc(100% - 35.3rem);
  }
  .jake-main__vline span:nth-child(2) {
    top: 13.0rem;
  }
  .jake-main__vline span:nth-child(4) {
    top: 74.0rem;
  }


  .jake-main__hotels {
    padding: 8.9rem 0 1.2rem;
  }
  .jake-main__hotels h2 {
    font-size: 7.0rem;
    line-height: 9.6rem;
    margin-bottom: 7.3rem;
  }
  .jake-main__hotels-blocks {
    flex-direction: column;
    align-items: center;
  }
  .jake-main__hotels-block {
    margin-bottom: 11.0rem;
    text-align: center;
    width: 69.0rem;
  }
  .jake-main__hotels-block h3 {
    font-size: 5.0rem;
    line-height: 6.8rem;
  }
  .jake-main__hotels-block hr {
    margin: 2.0rem 0 5.8rem;
    height: .2rem;
  }
  .jake-main__hotels-block a {
    border: .3rem solid #9DA1B9;
    -webkit-border-radius: 5.0rem;
    -moz-border-radius: 5.0rem;
    border-radius: 5.0rem;
    font-size: 3.0rem;
    font-weight: 700;
    line-height: 4.1rem;
    padding: 2.2rem 0;
  }
  .jake-main__hotels-block a:hover {
    border: .3rem solid #ffffff;
  }
  .jake-main__hotels-block a:not(:last-child) {
    margin-bottom: 3.7rem;
  }


  .jake-footer {
    padding: 6.3rem 0 0;
  }
  .jake-footer__container {
    width: 69.1rem;
  }
  .jake-footer h2 {
    font-size: 7.0rem;
    line-height: 9.6rem;
    margin-bottom: 12.2rem;
  }
  .jake-footer__registry {
    flex-direction: column;
    padding-bottom: 0;
  }
  .jake-footer__registry a {
    border: .3rem solid #9DA1B9;
    -webkit-border-radius: 10.0rem;
    -moz-border-radius: 10.0rem;
    border-radius: 10.0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10.2rem;
    height: 14.2rem;
    width: 100%;
  }
  .jake-footer__bl {
    background-size: auto 9.4rem;
    height: auto;
    width: auto;
  }
  .jake-footer__wil {
    background-size: auto 3.8rem;
    height: auto;
    width: auto;
  }

  .jake-jota {
    padding: 1.8rem 10.0rem;
  }
  .jake-jota img {
    width: 18.1rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1150px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 635px) {
  html {
    font-size: 4px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 3px;
  }
}

@media (max-width: 374px) {
  html {
    font-size: 2.5px;
  }
}
