@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');
.feedback h1,
.feedback h2,
.feedback h3,
.feedback h4,
.feedback h5,
.feedback h6,
.feedback p,
.feedback a {
	font-family: 'Libre Franklin', sans-serif !important;
	color: #3d3d3d;
	line-height: 1.2;
	margin: 0;
}
.feedback-start-container,
.feedback-features-container,
.feedback-info-container,
.feedback-team-container {
	background-color: #FBFBFB;
}
.feedback-promo {
	background: url(https://stg-comm-jp-author-services.edanz.com/sites/default/files/promo-bg-2.jpg) center / cover no-repeat;
	margin-bottom: 65px;
	padding: 35px 0 50px;
	text-align: center;
	width: 100%;
}
.feedback-promo__title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 26px;
}
.feedback-promo__title img {
	margin-right: 23px;
	width: 116px;
}
.feedback-promo__title h1 {
	color: #21356A;
	font-size: 56px;
	font-weight: 700;
	margin: 0;
}
.feedback-promo__list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.feedback-promo__list--right {
	text-align: center;
}
.feedback-promo__list--right p {
	font-size: 36px;
	font-weight: 700;
	margin: 0;
}
.feedback-promo__list--right p:not(:last-child) {
	margin-bottom: 32px;
}
.feedback-promo__logo {
	margin: 35px auto 0;
	width: 266px;
}
.feedback-promo__logo img {
	width: 100%;
}


.feedback-slider {
	box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.16);
	margin-bottom: 7px;
	padding-bottom: 20px;
}
.swiper-container {
	margin: 0 auto;
	max-width: 1350px;
}
.swiper-wrapper {
	padding-bottom: 80px;
	height: auto;
}
.feedback-slider__title {
	margin-top: 0;
	margin-bottom: 5px;
	padding: 0 200px 0 100px;
	height: 50px;
}
.feedback-slider__title img {
	height: 100%;
}
.feedback-slider__data {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 200px 0 100px;
	height: calc(100% - 95px);
}
.feedback-slider__img {
	flex-shrink: 0;
	padding-top: 10px;
	text-align: center;
	width: 520px;
}
.feedback-slider__img img {
	max-width: 100%;
}
.feedback-slider__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	max-width: 340px;
}
.feedback-slider__info p {
	flex-grow: 1;
	font-size: 18px;
	font-weight: 600;
	margin: 0;
	max-width: 340px;
}
.feedback-slider__info img {
	width: 180px;
}
.feedback-slider__info a {
	border: 1px solid #015CA7;
	border-radius: 10px;
	color: #3d3d3d;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	margin-top: 30px;
	padding: 30px 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}
.feedback-slider-prev,
.feedback-slider-next {
	position: absolute;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	height: 75px;
	width: 75px;
	z-index: 9999;
}
.feedback-slider-prev {
	left: 0;
}
.feedback-slider-next {
	right: 0;
}
.feedback-slider .swiper-pagination-bullet-active {
	background: #3e3e3e;
}
.feedback-slider .swiper-slide {
	height: auto;
}


.feedback-features {
	padding-top: 70px;
	padding-bottom: 20px;
}
.feedback-features__title {
	font-size: 36px !important;
	font-weight: 700;
	text-align: center;
}
.feedback-features__elements {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 60px;
}
.feedback-features__element {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 70px;
}
.feedback-features__element:nth-child(odd) {
	flex-grow: 1;
}
.feedback-features__element:nth-child(even) {
	flex-shrink: 0;
	width: 40%;
}
.feedback-features__element--img {
	margin-right: 10px;
	flex-shrink: 0;
	text-align: center;
	width: 150px;
}
.feedback-features__element--img img {
	max-width: 100%;
}
.feedback-features__data h2 {
	font-size: 32px !important;
	font-weight: 700 !important;
	line-height: 36px !important;
	margin-top: 0;
	margin-bottom: 10px;
}
.feedback-features__data p {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	max-width: 260px;
}
.feedback-features__data p a {
	color: #ce3535;
	text-decoration: none;
}
.feedback-features__data p a span {
	text-decoration: underline;
}
.feedback-features__subtitle {
	font-size: 32px !important;
	font-weight: 700 !important;
	text-align: center;
}


.feedback-highlights {
	background-color: #c0202e;
}
.feedback-highlights__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	height: 155px;
	max-width: 1350px;
}
.feedback-highlights--block {
	text-align: center;
}
.feedback-highlights--block:nth-child(1) {
	width: auto;
}
.feedback-highlights--block:nth-child(2) {
	width: 50%;
}
.feedback-highlights--block:nth-child(3) {
	width: 50%;
}
.feedback-highlights--block:nth-child(4) {
	margin-left: 30px;
	width: auto;
}
.feedback-highlights--block h2 {
	color: #e4cc2e;
	font-size: 56px !important;
	font-weight: 700 !important;
	margin-top: 0;
	margin-bottom: 9px;
}
.feedback-highlights--block h4 {
	color: #e4cc2e;
	font-size: 24px;
	font-weight: 700;
	margin: 0;
	white-space: nowrap;
}
.feedback-highlights--block:nth-child(1) h4 {
	font-size: 36px;
}



.feedback-info-container {
	padding: 45px 0 220px;
}
.feedback-info {
	border-radius: 10px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
	margin: 0 auto;
	padding: 35px 75px 40px;
	max-width: 1050px;
}
.feedback-info h2 {
	font-size: 24px !important;
	font-weight: 700 !important;
	margin: 0;
}
.feedback-info p {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
}
.feedback-info__title {
	margin-bottom: 100px;
	text-align: center;
}
.feedback-info__title img {
	margin-bottom: 20px;
	height: 75px;
	width: 75px;
}
.feedback-info__title--data {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.feedback-info__list {
	background-color: #fdfdfd;
	border: 1px solid #EAEAEA;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin: 0 auto 50px;
	padding: 60px 0 20px;
	position: relative;
	max-width: 670px;
}
.feedback-info__list-img {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -40px;
	left: 50%;
	transform: translateX(-50%);
	height: 80px;
	width: 80px;
}
.feedback-info__list-img img {
	width: 62px;
}
.feedback-info__element:not(:last-child) {
	margin-bottom: 32px;
}
.feedback-info__element h3 {
	font-size: 32px !important;
	font-weight: 700;
	text-align: center;
}
.feedback-info__price {
	border: 1px solid #277C21;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 50px 45px;
	padding: 0 84px 0 116px;
	height: 85px;
	max-width: 900px;
}
.feedback-info__price h2 {
	color: #277c21;
}
.feedback-info__join {
	text-align: center;
}


.feedback-team-container {
	padding: 30px 0 0;
}
.feedback-team img {
	width: 100%;
}

.feedback-container {
	margin: 0 auto;
	max-width: 1350px;
}
@media (max-width: 1024px) {
	.feedback-container {
		width: 1024px;
	}
	.feedback-features__element {
		max-width: 100%;
	}
	.feedback-features__data p {
		max-width: 100%;
	}

	.feedback-slider__img {
		width: 350px;
	}
	.feedback-slider__title {
		padding: 0 75px;
	}
	.feedback-slider__data {
		padding: 0 80px;
	}
	.feedback-slider__info {
		padding-top: 40px;
	}
	.feedback-slider__info a {
		padding: 20px 0;
		text-align: center;
		width: 95%;
	}
}
@media (max-width: 992px) {
	.feedback-container {
		width: 970px;
	}
}
@media (max-width: 768px) {
	.feedback-container {
		width: 750px;
	}
}