<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Libre+Franklin:wght@400;500;600;700&display=swap');

#hpp.hpp * {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#hpp h1,
#hpp h2,
#hpp h3,
#hpp h4,
#hpp h5,
#hpp h6,
#hpp li,
#hpp p,
#hpp a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

#hpp .hpp-btn__primary {
  background-color: #c80000;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 200rem;
  -moz-border-radius: 200rem;
  border-radius: 200rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 1rem 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__primary-darker {
  background-color: #ba2532;
}
#hpp .hpp-btn__primary-text {
  color: #BA2532;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__primary-video {
  color: #BA2532;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__primary-video img {
  margin-right: 1rem;
  height: 1.6rem;
  width: 1.6rem;
}
#hpp .hpp-btn__secondary {
  color: #9e15bf;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__secondary-arrow {
  color: #7C3AED;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
}
#hpp .hpp-btn__secondary-arrow img {
  margin-left: .8rem;
  height: 2rem;
  width: 2rem;
}
#hpp .hpp-btn__blue {
  background-color: #474BA8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 200rem;
  -moz-border-radius: 200rem;
  border-radius: 200rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 1rem 2.4rem;
  text-decoration: none;
}


#hpp .hpp-container {
  margin: 0 auto;
  width: 1224px;
  max-width: 100%;
}


#hpp .hpp-header {
  background: url(https://www.edanz.com/sites/default/files/hpp_1/hpp-header-bg-img-3.png) top center / 100% auto no-repeat;
}
#hpp .hpp-header .hpp-container {
  padding: 20.8vw 0 4.8rem;
}
#hpp .hpp-header__block {
  background-color: #ffffff;
  border: 1px solid #FFF4DD;
  padding: 6.4rem;
  width: 60rem;
}
#hpp .hpp-header__block h2 {
  color: #474ba8;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: 1.6rem;
}
#hpp .hpp-header__block p {
  color: #474ba8;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
}


#hpp .hpp-block {
  margin-bottom: 10.4rem;
  padding: 4.8rem;
  width: 100%;
}
#hpp .hpp-block.hpp-block--color-1 {
  background-color: #fff4dd;
}
#hpp .hpp-block.hpp-block--color-2 {
  background-color: #ecfeff;
}
#hpp .hpp-block p {
  color: #474ba8;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
}
#hpp .hpp-block ul {
  margin: 0 0 2.4rem;
  list-style: none;
  padding: 0;
}
#hpp .hpp-block ul li {
  color: #474ba8;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: .8rem;
}
#hpp .hpp-block ul li > img {
  margin-right: .8rem;
  height: 2.4rem;
  width: 2.4rem;
}


#hpp .hpp-plans {
  margin-bottom: 10.4rem;
}
#hpp .hpp-plans .hpp-container {
  background-color: #ecfeff;
  -webkit-border-radius: 3.2rem;
  -moz-border-radius: 3.2rem;
  border-radius: 3.2rem;
  padding: 0 !important;
}
#hpp .hpp-plans h2,
#hpp .hpp-plans h3,
#hpp .hpp-plans h4,
#hpp .hpp-plans h5,
#hpp .hpp-plans h6,
#hpp .hpp-plans input,
#hpp .hpp-plans p {
  font-family: 'Libre Franklin', sans-serif;
}
#hpp .hpp-plans__top {
  padding: 4.8rem 2rem;
  text-align: center;
}
#hpp .hpp-plans h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 6.4rem;
  margin-bottom: 1.6rem;
  text-align: center;
}
#hpp .hpp-plans input {
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  border-radius: .4rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0 auto 4.8rem;
  padding: 1rem 1.6rem;
  width: 36rem;
}
#hpp .hpp-plans__top > p {
  color: #777777;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0 auto 4.8rem;
  max-width: 39.2rem;
}
#hpp .hpp-plans input::placeholder {
  color: #cfcfcf;
}
#hpp .hpp-plans__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
#hpp .hpp-plans__block {
  background-color: #ffffff;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  border-radius: 1.6rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 1.2rem;
  width: 36rem;
  max-width: 100%;
}
#hpp .hpp-plans__block h3 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.6rem;
  padding: 2.4rem 2.4rem .8rem;
  text-align: left;
}
#hpp .hpp-plans__block p {
  color: #777777;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 2.4rem;
  padding: 0 2.4rem;
  text-align: left;
}
#hpp .hpp-plans__block img {
  margin-bottom: 2.4rem;
  width: 100%;
}
#hpp .hpp-plans__block h4 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 5.2rem;
  margin-bottom: 2.4rem;
  padding: 0 2.4rem;
  text-align: left;
}
#hpp .hpp-plans__block a {
  margin-bottom: 2.4rem;
}
#hpp .hpp-plans__special {
  background: url(https://www.edanz.com/sites/default/files/hpp_4/hpp-plans-special-bg.png) center / cover no-repeat;
  -webkit-border-radius: 0 0 3.2rem 3.2rem;
  -moz-border-radius: 0 0 3.2rem 3.2rem;
  border-radius: 0 0 3.2rem 3.2rem;
  padding: 5.3rem;
}
#hpp .hpp-plans__special h5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 2.4rem;
  text-align: center;
}
#hpp .hpp-plans__special-info {
  background-color: #ffffff;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 3.6rem 11.9rem;
  width: 92rem;
  max-width: 100%;
}
#hpp .hpp-plans__special-info img {
  margin-right: .8rem;
  height: 7.2rem;
  width: 7.2rem;
}
#hpp .hpp-plans__special-info h6 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 6.4rem;
  margin-right: .8rem;
}
#hpp .hpp-plans__special-info p {
  color: #777777;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
}
#hpp .hpp-plans__btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.4rem 0 12.5rem;
}
#hpp .hpp-plans__btns a {
  margin: 0 1.6rem;
}


#hpp .hpp-flow {
  padding: 0 0 11.2rem;
}
#hpp .hpp-flow h2 {
  color: #111827;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: 4rem;
}
#hpp .hpp-flow__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#hpp .hpp-flow__block {
  width: 28rem;
}
#hpp .hpp-flow__row-graph {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.6rem;
}
#hpp .hpp-flow__row-graph span:first-child {
  background-color: #1DB5BE;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  margin-right: 2.4rem;
  height: 2.4rem;
  width: 2.4rem;
}
#hpp .hpp-flow__row-graph span:last-child {
  border-top: 2px dashed #1DB5BE;
  display: inline-block;
  opacity: .4;
  width: 100%;
}
#hpp .hpp-flow__block h3 {
  color: #111827;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: .4rem;
}
#hpp .hpp-flow__block p {
  color: #374151;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}


#hpp .hpp-should {
  padding: 9.6rem 0 4.8rem;
}
#hpp .hpp-should h2 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: 4.8rem;
}
#hpp .hpp-should__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#hpp .hpp-should__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4.8rem;
  width: 59rem;
}
#hpp .hpp-should__block img {
  margin-right: 4rem;
  height: 7.2rem;
  width: 7.2rem;
}
#hpp .hpp-should__text {

}
#hpp .hpp-should__text h3 {
  color: #111827;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: .8rem;
}
#hpp .hpp-should__text p {
  color: #374151;
  font-size: 1.6rem;
  line-height: 2.4rem;
}


@media (max-width: 1439px) {
  html {
    font-size: 9px;
  }

  #hpp .hpp-container {
    padding: 0 2rem;
    max-width: calc(100% - 4rem);
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 7px;
  }


  #hpp .hpp-flow {
    padding-top: 0;
  }
  #hpp .hpp-flow__row {
    flex-direction: column;
  }
  #hpp .hpp-flow__block {
    margin-bottom: 2rem;
    width: 100%;
  }


  #hpp .hpp-should__block {
    width: 100%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 4px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 3px;
  }
}
</style>
