<style>
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');

#hpp.hpp * {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#hpp h1,
#hpp h2,
#hpp h3,
#hpp h4,
#hpp h5,
#hpp h6,
#hpp li,
#hpp p,
#hpp a {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

#hpp .hpp-btn__primary {
  background-color: #c80000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 200rem;
  -moz-border-radius: 200rem;
  border-radius: 200rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 1rem 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__primary-darker {
  background-color: #ba2532;
}
#hpp .hpp-btn__primary-text {
  color: #BA2532;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__primary-video {
  color: #BA2532;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__primary-video img {
  margin-right: 1rem;
  height: 1.6rem;
  width: 1.6rem;
}
#hpp .hpp-btn__secondary {
  color: #9e15bf;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: none;
}
#hpp .hpp-btn__secondary-arrow {
  color: #7C3AED;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
}
#hpp .hpp-btn__secondary-arrow img {
  margin-left: .8rem;
  height: 2rem;
  width: 2rem;
}
#hpp .hpp-btn__blue {
  background-color: #474BA8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 200rem;
  -moz-border-radius: 200rem;
  border-radius: 200rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 1rem 2.4rem;
  text-decoration: none;
}


#hpp .hpp-container {
  margin: 0 auto;
  width: 1224px;
  max-width: 100%;
}


#hpp .hpp-header--1 {
  background: url(https://www.edanz.com/sites/default/files/hpp_9/hpp-header-bg-img-4.png) top center / 100% auto no-repeat, #ECFEFF;
}
#hpp .hpp-header--2 {
  background: url(https://www.edanz.com/sites/default/files/hpp_9/hpp-header-bg-img-5.png) top center / 100% auto no-repeat;
}
#hpp .hpp-header--3 {
  background: url(https://www.edanz.com/sites/default/files/hpp_9/hpp-header-bg-img-6.png) top center / 100% auto no-repeat, #ECFEFF;
}
#hpp .hpp-header--4 {
  background: url(https://www.edanz.com/sites/default/files/hpp_9/hpp-header-bg-img-7.png) top center / 100% auto no-repeat, #ECFEFF;
}
#hpp .hpp-header--5 {
  background: url(https://www.edanz.com/sites/default/files/hpp_9/hpp-header-bg-img-8.png) top center / 100% auto no-repeat, #ECFEFF;
}
#hpp .hpp-header--6 {
  background: url(https://www.edanz.com/sites/default/files/hpp_9/hpp-header-bg-img-9.png) top center / 100% auto no-repeat;
}
#hpp .hpp-header .hpp-container {
  padding: 20.8vw 0 4.8rem;
}
#hpp .hpp-header__block {
  background-color: #ffffff;
  border: 1px solid #FFF4DD;
  padding: 6.4rem;
  width: 60.5rem;
}
#hpp .hpp-header__block h2 {
  color: #474ba8;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: 1.6rem;
}
#hpp .hpp-header__block p {
  color: #474ba8;
  font-size: 1.8rem;
  line-height: 2.8rem;
}


#hpp .hpp-block {
  margin-bottom: 6.4rem;
  padding: 4.8rem;
  width: 100%;
}
#hpp .hpp-block.hpp-block--color-1 {
  background-color: #fff4dd;
}
#hpp .hpp-block.hpp-block--color-2 {
  background-color: #ecfeff;
}
#hpp .hpp-block p {
  color: #474ba8;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
}
#hpp .hpp-block ul {
  margin: 0 0 2.4rem;
  list-style: none;
  padding: 0;
}
#hpp .hpp-block ul li {
  color: #474ba8;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: .8rem;
}
#hpp .hpp-block ul li > img {
  margin-right: .8rem;
  height: 2.4rem;
  width: 2.4rem;
}


#hpp .hpp-nblocks {
  background-color: #ecfeff;
  margin-bottom: 8rem;
  padding-bottom: 5.7rem;
}
#hpp .hpp-nblock p {
  color: #474ba8;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: 6rem;
}
#hpp .hpp-nblock ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
#hpp .hpp-nblock ul li {
  background-color: #ffffff;
  border-radius: .8rem;
  color: #474ba8;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.9rem;
  margin-bottom: 2.6rem;
  margin-right: 8.5rem;
  padding: .5rem 1rem;
}
#hpp .hpp-nblock ul li img {
  margin-right: .8rem;
  height: 2rem;
  width: 2rem;
}
#hpp .hpp-nblock ul li.hpp-nblock__images {
  background-color: transparent;
}
#hpp .hpp-nblock ul li.hpp-nblock__images img {
  margin-right: 4.5rem;
  height: 9.5rem;
  width: auto;
}


#hpp .hpp-plans .hpp-container {
  background-color: #ecfeff;
  -webkit-border-radius: 3.2rem;
  -moz-border-radius: 3.2rem;
  border-radius: 3.2rem;
  padding: 0 !important;
}
#hpp .hpp-plans h2,
#hpp .hpp-plans h3,
#hpp .hpp-plans h4,
#hpp .hpp-plans h5,
#hpp .hpp-plans h6,
#hpp .hpp-plans input,
#hpp .hpp-plans p {
}
#hpp .hpp-plans__top {
  padding: 4.8rem 2rem;
  text-align: center;
}
#hpp .hpp-plans h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 6.4rem;
  margin-bottom: 4.8rem;
  text-align: center;
}
#hpp .hpp-plans input {
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  border-radius: .4rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 0 auto 4.8rem;
  padding: 1rem 1.6rem;
  width: 36rem;
}
#hpp .hpp-plans input::placeholder {
  color: #cfcfcf;
}
#hpp .hpp-plans__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
#hpp .hpp-plans__block {
  background-color: #ffffff;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  border-radius: 1.6rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 1.2rem;
  width: 36rem;
  max-width: 100%;
}
#hpp .hpp-plans__block h3 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.6rem;
  padding: 2.4rem;
  text-align: left;
}
#hpp .hpp-plans__block img {
  margin-bottom: 2.4rem;
  width: 100%;
}
#hpp .hpp-plans__block h4 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 5.2rem;
  margin-bottom: 2.4rem;
  padding: 0 2.4rem;
  text-align: left;
}
#hpp .hpp-plans__block a {
  margin-bottom: 2.4rem;
}
#hpp .hpp-plans__special {
  background: url(https://www.edanz.com/sites/default/files/hpp_4/hpp-plans-special-bg.png) center / cover no-repeat;
  -webkit-border-radius: 0 0 3.2rem 3.2rem;
  -moz-border-radius: 0 0 3.2rem 3.2rem;
  border-radius: 0 0 3.2rem 3.2rem;
  padding: 5.3rem;
}
#hpp .hpp-plans__special h5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 2.4rem;
  text-align: center;
}
#hpp .hpp-plans__special-info {
  background-color: #ffffff;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 3.6rem 11.9rem;
  width: 92rem;
  max-width: 100%;
}
#hpp .hpp-plans__special-info img {
  margin-right: .8rem;
  height: 7.2rem;
  width: 7.2rem;
}
#hpp .hpp-plans__special-info h6 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 6.4rem;
  margin-right: .8rem;
}
#hpp .hpp-plans__special-info p {
  color: #777777;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
}


#hpp .hpp-samples {
  padding: 0 0 20rem;
}
#hpp .hpp-samples h2 {
  color: #ba2532;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: 9.3rem;
  text-align: center;
}
#hpp .hpp-samples__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#hpp .hpp-samples__row img {
  height: 57.5rem;
  max-width: 100%;
}


#hpp .hpp-flow {
  padding: 0 0 11.2rem;
}
#hpp .hpp-flow h2 {
  color: #111827;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: .5rem;
}
#hpp .hpp-flow p {
  color: #374151;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
#hpp .hpp-flow__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.1rem;
}
#hpp .hpp-flow__block {
  width: 28rem;
}
#hpp .hpp-flow__row-graph {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.6rem;
}
#hpp .hpp-flow__row-graph span:first-child {
  background-color: #1DB5BE;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  margin-right: 2.4rem;
  height: 2.4rem;
  width: 2.4rem;
}
#hpp .hpp-flow__row-graph span:last-child {
  border-top: 2px dashed #1DB5BE;
  display: inline-block;
  opacity: .4;
  width: 100%;
}
#hpp .hpp-flow__row-graph.blue-color span:first-child {
  background-color: #4A51E8;
}
#hpp .hpp-flow__row-graph.blue-color span:last-child {
  border-top: 2px dashed #787EFF;
}
#hpp .hpp-flow__block h3 {
  color: #111827;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: .4rem;
}
#hpp .hpp-flow__block p {
  color: #374151;
  font-size: 1.6rem;
  line-height: 2.4rem;
}


#hpp .hpp-should {
  padding: 9.6rem 0 4.8rem;
}
#hpp .hpp-should h2 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: 4.8rem;
}
#hpp .hpp-should p {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: -0.04rem;
  margin-bottom: 3.2rem;
}
#hpp .hpp-should__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#hpp .hpp-should__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4.8rem;
  width: 59rem;
}
#hpp .hpp-should__block img {
  margin-right: 4rem;
  height: 7.2rem;
  width: 7.2rem;
}
#hpp .hpp-should__text h3 {
  color: #111827;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: .8rem;
}


#hpp .hpp-recent {
  margin: 0 auto;
  padding: 0;
  width: 108.4rem;
  max-width: 100%;
}
#hpp .hpp-recent h2 {
  color: #ba2532;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: 6.5rem;
  text-align: center;
}
#hpp .hpp-recent__block {
  background-color: #fff4dd;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8rem;
}
#hpp .hpp-recent__block-rr {
  flex-direction: row-reverse;
}
#hpp .hpp-recent__block-img {
  flex-shrink: 0;
  position: relative;
  width: 61rem;
}
#hpp .hpp-recent__block-img img:nth-of-type(1) {
  border-radius: 1.6rem 0 0 1.6rem;
  width: 100%;
}
#hpp .hpp-recent__block-rr .hpp-recent__block-img img:nth-of-type(1) {
  border-radius: 0 1.6rem 1.6rem 0;
}
#hpp .hpp-recent__block-img img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
}
#hpp .hpp-recent__block-img img:nth-of-type(3) {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  width: 30.4rem;
}
#hpp .hpp-recent__block-img img:nth-of-type(3).hpp-recent__block-img--big {
  top: 6rem;
  right: 4rem;
  width: 34rem;
}
#hpp .hpp-recent__block-img span {
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7rem;
  padding: .9rem 1.8rem;
  position: absolute;
}
#hpp .hpp-recent__block-img span:nth-of-type(1) {
  background-color: #feba57;
  top: 8.5rem;
  left: 0;
}
#hpp .hpp-recent__block-img span:nth-of-type(2) {
  background-color: #787eff;
  top: 13.5rem;
  left: 0;
}
#hpp .hpp-recent__block-img span:nth-of-type(3) {
  background-color: #4bb7bf;
  top: 19rem;
  left: 0;
}
#hpp .hpp-recent__block-rr .hpp-recent__block-img img:nth-of-type(2) {
  right: 0;
  left: auto;
}
#hpp .hpp-recent__block-rr .hpp-recent__block-img img:nth-of-type(3) {
  position: absolute;
  top: 1.5rem;
  right: auto;
  left: 2rem;
  width: 30.4rem;
}
#hpp .hpp-recent__block-rr .hpp-recent__block-img span:nth-of-type(3) {
  right: 0;
  left: auto;
}
#hpp .hpp-recent__block-rr .hpp-recent__block-img span:nth-of-type(2) {
  right: 0;
  left: auto;
}
#hpp .hpp-recent__block-rr .hpp-recent__block-img span:nth-of-type(1) {
  right: 0;
  left: auto;
}
#hpp .hpp-recent__block-text {
  padding: 0 4.8rem;
}
#hpp .hpp-recent__block-text h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}
#hpp .hpp-recent__block-text p {
  color: #444444;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
}


#hpp .hpp-form {
  padding-bottom: 5rem;
}
#hpp .hpp-form h2 {
  color: #ba2532;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.5rem;
  text-align: center;
}


#hpp .ml-workflow {
  padding: 0 0 7.5rem;
}
#hpp .ml-workflow h2 {
  color: #ba2532;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.8rem;
  margin-bottom: 8rem;
  text-align: center;
}
#hpp .ml-workflow__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#hpp .ml-workflow__block {
  border: 1px solid #d7e7f4;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  padding: 1.5rem;
  width: 23rem;
}
#hpp .ml-workflow__block span {
  position: relative;
}
#hpp .ml-workflow__block span::before {
  content: "";
  background-color: #2e3696;
  border-radius: 50%;
  position: absolute;
  top: -5.8rem;
  left: 50%;
  transform: translateX(-50%);
  height: 1.8rem;
  width: 1.8rem;
}
#hpp .ml-workflow__block:not(:last-child) span::after {
  content: "";
  border-bottom: 2.5px dashed rgba(46, 54, 150, 25%);
  position: absolute;
  top: calc(-4.9rem - 2.5px);
  left: calc(50% + 1.5rem);
  width: calc(100% + 3rem);
}
#hpp .ml-workflow__block-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}
#hpp .ml-workflow__block-icon img {
  height: 5.4rem;
}
#hpp .ml-workflow__block h3 {
  color: #2e3696;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 1.3rem;
}
#hpp .ml-workflow__block p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6rem;
}


#hpp .hpp-what {
  padding: 9.1rem 0 8rem;
  text-align: center;
}
#hpp .hpp-what h2 {
  color: #ba2532;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.8rem;
  margin-bottom: 2.5rem;
}
#hpp .hpp-what p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.8rem;
  margin-bottom: 3.8rem;
}
#hpp .hpp-what__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#hpp .hpp-what__block {
  border: 1px solid #6B6B6B;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 2.5rem 3rem;
  padding: 1rem 1.5rem;
  width: calc(50% - 5rem);
}
#hpp .hpp-what__block img {
  margin-right: 2.5rem;
  height: 5rem;
  width: 5rem;
}
#hpp .hpp-what__block h3 {
  color: #474ba8;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  text-align: left;
}



@media (max-width: 1439px) {
  html {
    font-size: 9px;
  }

  #hpp .hpp-container {
    padding: 0 2rem;
    max-width: calc(100% - 4rem);
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 8px;
  }

  #hpp .hpp-samples h2 {
    text-align: center;
  }
  #hpp .hpp-samples__row {
    justify-content: center;
  }
  #hpp .hpp-samples__row img {
    margin: 0 2rem 2rem;
    height: 50rem;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 7px;
  }


  #hpp .hpp-flow {
    padding-top: 0;
  }
  #hpp .hpp-flow__row {
    flex-direction: column;
  }
  #hpp .hpp-flow__block {
    margin-bottom: 2rem;
    width: 100%;
  }


  #hpp .hpp-should__block {
    width: 100%;
  }


  #hpp .hpp-recent__block-img {
    width: 60rem;
  }
  #hpp .hpp-recent__block-text {
    margin: 0 !important;
    padding: 0 3rem !important;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6px;
  }


  #hpp .ml-workflow__row {
    flex-wrap: wrap;
  }
  #hpp .ml-workflow__block {
    align-items: center;
    margin-bottom: 3rem;
    width: 50%;
  }
  #hpp .ml-workflow__block span {
    display: none;
  }
  #hpp .ml-workflow__block-icon span {
    display: none;
  }


  #hpp .hpp-what__block {
    width: 100%;
  }


  #hpp .hpp-recent__block,
  #hpp .hpp-recent__nBlock {
    flex-direction: column;
    padding-bottom: 5rem;
  }
  #hpp .hpp-recent__block-img {
    margin-bottom: 5rem;
    width: 74rem;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 4px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 3px;
  }
}
</style>
