<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
.prlp * {
  box-sizing: border-box;
}
.prlp {
  margin: 0 auto 185px;
  max-width: 1200px;
}
.prlp h1,
.prlp a,
.prlp p {
  color: #000;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  margin: 0;
}
.prlp-header {
  background: url(https://stg-comm-jp-author-services.edanz.com/sites/default/files/prlp-header-bg.jpg) center / 100% 100% no-repeat;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 185px;
}
.prlp-header h1 {
  color: #0E60A7;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
.prlp-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1200px;
  width: 100%;
}
.prlp-grid--element {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 65px 75px 0;
  height: 380px;
  width: 590px;
}
.prlp-grid--element:nth-child(1),
.prlp-grid--element:nth-child(2) {
  margin-right: 20px;
}
.prlp-grid .prlp-grid--long {
  height: 780px;
}
.prlp-grid--element img,
.prlp-grid--img {
  display: block;
  margin: 0 auto 40px;
  width: 350px;
}
.prlp-grid--img img {
  width: 100%;
}
.prlp-grid--element:last-child .prlp-grid--img {
  margin: 0 auto;
  width: 300px;
}
.prlp-grid--element:nth-child(2) .prlp-grid--img {
  margin: 0 auto;
}
.prlp-grid--element:nth-child(4) .prlp-grid--img {
  margin-left: 30px;
}
.prlp-grid--title {
  color: rgb(0, 0, 0, .8);
  display: block;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: underline;
}
.prlp-grid--element p {
  color: rgb(0, 0, 0, .8);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

@media (max-width: 991px) {
  .prlp-header {
    padding: 0 20px;
  }
  .prlp-header h1 {
    font-size: 28px;
    text-align: center;
    width: 100%;
  }
  .prlp-grid {
    height: auto;
  }
  .prlp-grid--element {
    padding: 20px 30px 0;
    width: 100%;
  }
  .prlp-grid--element:nth-child(1),
  .prlp-grid--element:nth-child(2) {
    margin-right: 0;
  }
  .prlp-grid--element:nth-child(4) .prlp-grid--img {
    margin: 0;
  }
  .prlp-grid--element img,
  .prlp-grid--img {
    max-width: 100%;
  }
}
</style>