<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');
.prp * {
  box-sizing: border-box;
}
.prp {
  background-color: #eee;
  padding: 20px 40px 60px;
  margin: 0 auto;
  max-width: 1200px;
}
.prp h1,
.prp h2,
.prp a,
.prp p {
  color: #000;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  margin: 0;
}

.prp h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}
.prp h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
.prp h2 span {
  font-size: 16px;
}
.prp p {
  font-size: 16px;
  line-height: 20px;
}
.prp p > a {
  color: #0d49f2;
  font-size: 16px;
  line-height: 20px;
}
.prp-table {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 20px auto;
  width: 800px;
}
.prp-row {
  display: flex;
  flex-direction: row;
}
.prp-col {
  border: 1px solid #000;
  padding: 5px 10px;
  text-align: center;
  width: 50%;
}
.prp > img {
  margin: 10px 0;
  width: 400px;
}
.prp > a {
  font-size: 16px;
  line-height: 20px;
}
.prp h3 {
  color: red;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
</style>