/* Fonts */
@font-face {
  font-family: 'Kiona-Regular';
  src: url('../fonts/Kiona-Regular.eot');
  src: url('../fonts/Kiona-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kiona-Regular.woff') format('woff'),
  url('../fonts/Kiona-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/* header styles */
.header {
  background: 
  url(../img/header-bg.png) top center no-repeat,
  #96b4d0;
  background-size: 100% 100%;
  z-index: 9;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header img {
  margin: 10.8rem 0 28.8rem;
  height: 27.9rem;
  width: 28.2rem;
}

/* promo styles */
.promo {
  background-color: #96b4d0;
  padding-bottom: 6.2rem;
  position: relative;
  text-align: center;
  z-index: -1;
}

.promo h1 {
  font-family: 'Kiona-Regular';
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 5.8rem;
  text-transform: uppercase;
}

.promo p {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 3.75rem;
  margin: 0 auto;
  max-width: 84rem;
}

.promo p:not(:last-child) {
  margin-bottom: 5.5rem;
}

/* form styles */
.form {
  background: url(../img/form-bg.png) top center no-repeat;
  background-size: 100% 100%;
  padding-bottom: 9.3rem;
  text-align: center;
}

.form h2 {
  color: #ffffff;
  font-family: 'Kiona-Regular';
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 4.167rem;
  margin-bottom: 3.6rem;
  padding-top: 4.5rem;
  text-transform: uppercase;
}

.form h3 {
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 3.751rem;
  margin-bottom: 3.1rem;
}

.form h4 {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4.5rem;
}

.form form input::-webkit-input-placeholder {
  color: rgba(101, 100, 100, .42);
  letter-spacing: 0.292rem;
  text-transform: uppercase;
}

.form form input::-moz-placeholder {
  color: rgba(101, 100, 100, .42);
  letter-spacing: 0.292rem;
  text-transform: uppercase;
}

.form form input:-ms-input-placeholder {
  color: rgba(101, 100, 100, .42);
  letter-spacing: 0.292rem;
  text-transform: uppercase;
}

.form form input::-ms-input-placeholder {
  color: rgba(101, 100, 100, .42);
  letter-spacing: 0.292rem;
  text-transform: uppercase;
}

.form form input::placeholder {
  color: rgba(101, 100, 100, .42);
  letter-spacing: 0.292rem;
  text-transform: uppercase;
}

.form form input {
  background-color: #e8dfd7;
  border: none;
  color: #656464;
  font-size: 1.5rem;
  font-weight: 400;
  padding: .5rem 1.6rem;
}

.form__group {
  margin-bottom: 2.5rem;
}

.form-top {
  margin: 0 auto;
  max-width: 53rem;
}

.form-top .row.no-gutters .col:first-child {
  margin-right: .5rem;
}

.form-top .row.no-gutters .col:last-child {
  margin-left: .5rem;
}

.form-top input {
  height: auto;
}

.form-top .invalid-feedback {
  font-size: 1.5rem;
  text-align: left;
}

.form-mid {
  margin: 2.7rem auto 5.6rem;
  text-align: center;
  max-width: 31rem;
}

.form-mid h4{
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 3.751rem;
  margin-bottom: 6rem;
}

.form-mid label {
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 400;
  text-transform: uppercase;
}

.form-mid__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.form-mid__check .invalid-feedback {
  font-size: 1.5rem;
  position: absolute;
  bottom: -3rem;
  left: 0;
}

.form-mid__check .form-check-inline {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-mid__check-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-mid__input {
  display: none;
}

.form-mid__label {
  position: relative;
}

.form-mid__label::before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: -4.9rem;
  left: 50%;
  transform: translateX(-50%);
  height: 3.1rem;
  width: 3.1rem;
}

.form-mid__input:not(:checked) + label:after,
.form-mid__input:checked + label:after {
  content: '\2713\0020';
  color: #333;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  top: -5.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 3.1rem;
  width: 3.1rem;
}

.form-mid__input:not(:checked) + label:after {
  opacity: 0;
}
.form-mid__input:checked + label:after {
  opacity: 1;
}

.form-bot {
  margin: 0 auto 2.2rem;
  max-width: 83rem;
}

.form-bot .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-bot .row.no-gutters .col:first-child {
  margin-right: 1rem;
}

.form-bot .row.no-gutters .col:last-child {
  margin-left: 1rem;
}

.form-bot__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.8rem;
}

.form-bot__input {
  display: none;
}

.form-bot__label {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 400;
  margin: 0 1.4rem 0 0;
  position: relative;
}

.form-bot__label::before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: -5rem;
  transform: translateY(-50%);
  height: 3.1rem;
  width: 3.1rem;
}

.form-bot__input:not(:checked) + label:after,
.form-bot__input:checked + label:after {
  content: '\2713\0020';
  color: #333;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: -5rem;
  transform: translateY(-70%);
  height: 3.1rem;
  width: 3.1rem;
}

.form-bot__input:not(:checked) + label:after {
  opacity: 0;
}
.form-bot__input:checked + label:after {
  opacity: 1;
}

/*.form-bot__check input {
  border: 0.1rem solid #000000;
  height: 3.1rem;
  width: 3.1rem;
}*/

.form form input[type="submit"] {
  background-color: #13222f;
  border: none;
  color: #ffffff;
  font-size: 2.1rem;
  font-weight: 400;
  padding: .7rem 1.9rem;
  text-transform: uppercase;
}

/* about styles */
.about {
  height: 125.7rem;
}

.about__group-1 img,
.about__group-2 img,
.about__group-3 img {
  height: 100%;
  width: 100%;
}

.about__group-1 h2,
.about__group-2 h2,
.about__group-3 h2 {
  color: #030303;
  font-family: 'Kiona-Regular';
  font-size: 3.1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.about__group-1 p,
.about__group-2 p,
.about__group-3 p {
  color: #010101;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 4.167rem;
}

.about__group-1 p,
.about__group-3 p {
  padding-right: 5.5rem;
}

.about__group-2 h2,
.about__group-2 p {
  padding-left: 5.5rem;
}

.about__group-1 {
  background-color: #96b4d0;
  padding-top: 20rem;
  position: relative;
  top: 0rem;
  -webkit-transform: skew(0deg, -7deg) translateY(-30rem);
      -ms-transform: skew(0deg, -7deg) translateY(-30rem);
          transform: skew(0deg, -7deg) translateY(-30rem);
  height: 67.5rem;
  z-index: -1;
}

.about__group-1 .container {
  -webkit-transform: skew(0deg, 7deg);
      -ms-transform: skew(0deg, 7deg);
          transform: skew(0deg, 7deg);
}

.about__group-1 h2 {
  padding-top: 12.7rem;
}

.about__group-2 {
  background-color: #e8dfd7;
  position: relative;
  -webkit-transform: skew(0deg, -7deg) translateY(-30rem);
      -ms-transform: skew(0deg, -7deg) translateY(-30rem);
          transform: skew(0deg, -7deg) translateY(-30rem);
  height: 70.8rem;
  z-index: -2;
}

.about__group-2 .container {
  -webkit-transform: skew(0deg, 7deg);
      -ms-transform: skew(0deg, 7deg);
          transform: skew(0deg, 7deg);
}

.about__group-2 h2 {
  padding-top: 11rem;
}

.about__group-2 img {
  position: relative;
  bottom: 9rem;
}

.about__group-3 {
  background-color: #b6d5d4;
  padding-bottom: 5rem;
  position: relative;
  -webkit-transform: translateY(-49rem);
      -ms-transform: translateY(-49rem);
          transform: translateY(-49rem);
  height: 77.2rem;
}

.about__group-3 h2 {
  padding-top: 6rem;
}

/* footer */
.footer {
  overflow: hidden;
  height: 55rem;
}

.footer__bg {
  background-color: #96b4d0;
  padding: 16.7rem 0 10rem;
  position: relative;
  bottom: -18.3rem;
  -webkit-transform: skew(0deg, 6deg) translateY(0rem);
      -ms-transform: skew(0deg, 6deg) translateY(0rem);
          transform: skew(0deg, 6deg) translateY(0rem);
  text-align: center;
  height: 55rem;
}

.footer__line {
  border-bottom: 1.7rem solid #d0b096;
  -webkit-transform: skew(0deg, -6deg);
      -ms-transform: skew(0deg, -6deg);
          transform: skew(0deg, -6deg);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 5.7rem;
  max-width: 52rem;
}

.footer__social a {
  height: 4.6rem;
  width: 4.6rem;
}

.footer__social a img {
  height: 4.6rem;
  width: 4.6rem;
}

.footer h5 {
  color: rgba(0, 0, 0, .7);
  font-family: 'Kiona-Regular';
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 6.1rem;
  text-transform: uppercase;
}


/* Bootstrap 4 @media */
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) and (max-width: 1919.98px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439.98px){
  html {
    font-size: 9px;
  }

  /* about styles */
  .about {
    height: 138.7rem;
  }

  .about__group-1 {
    height: 72.5rem;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 8px;
  }

  /* about styles */
  .about {
    height: 131.7rem;
  }

  .about__group-1 {
    height: 69.5rem;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 6px;
  }

  /* form styles */
  .form h2 {
    font-size: 3.7rem;
    line-height: 5rem;
  }

  .form h3 {
    font-size: 2.9rem;
    line-height: 4rem;
  }

  .form h4 {
    font-size: 2.3rem;
  }

  .form form input {
    font-size: 2.5rem;
    padding: 2rem 4rem;
  }

  .form-top {
    margin: 0 auto;
    max-width: 90%;
  }

  .form-top .invalid-feedback {
    font-size: 3rem;
  }

  .form-mid {
    max-width: 50%;
  }

  .form-mid h4{
    font-size: 2.9rem;
    line-height: 4rem;
    margin-bottom: 10rem;
  }

  .form-mid label {
    font-size: 2.9rem;
  }

  .form-mid__check .invalid-feedback {
    font-size: 3rem;
  }

  .custom-control-label::before {
    top: -6rem;
    height: 6rem;
    width: 6rem;
  }

  .custom-control-label::after {
    top: -6rem;
    height: 6rem;
    width: 6rem;
  }

  .form-bot {
    margin: 0 auto 5rem;
    max-width: 90%;
  }

  .form-bot__check label {
    font-size: 2.9rem;
  }

  .form-bot__check input {
    height: 6rem;
    width: 6rem;
  }

  .form form input[type="submit"] {
    font-size: 3.5rem;
    padding: 1rem 3rem;
  }

  /* about styles */
  .about {
    height: 130.7rem;
  }

  .about__group-1 {
    height: 69rem;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 5px;
  }

  /* form styles */
  .form h2 {
    font-size: 3.7rem;
    line-height: 5rem;
  }

  .form h3 {
    font-size: 2.9rem;
    line-height: 4rem;
  }

  .form h4 {
    font-size: 2.3rem;
  }

  .form form input {
    font-size: 2.5rem;
    padding: 2rem 4rem;
  }

  .form-top {
    margin: 0 auto;
    max-width: 90%;
  }

  .form-top .invalid-feedback {
    font-size: 3rem;
  }

  .form-mid {
    max-width: 50%;
  }

  .form-mid h4{
    font-size: 2.9rem;
    line-height: 4rem;
    margin-bottom: 10rem;
  }

  .form-mid label {
    font-size: 2.9rem;
  }

  .form-mid__check .invalid-feedback {
    font-size: 3rem;
  }

  .custom-control-label::before {
    top: -6rem;
    height: 6rem;
    width: 6rem;
  }

  .custom-control-label::after {
    top: -6rem;
    height: 6rem;
    width: 6rem;
  }

  .form-bot {
    margin: 0 auto 5rem;
    max-width: 90%;
  }

  .form-bot__check label {
    font-size: 2.9rem;
  }

  .form-bot__check input {
    height: 6rem;
    width: 6rem;
  }

  .form form input[type="submit"] {
    font-size: 3.5rem;
    padding: 1rem 3rem;
  }

  /* about styles */
  .about {
    height: 113.7rem;
  }

  .about__group-1 .container,
  .about__group-2 .container,
  .about__group-3 .container {
    width: 575px;
  }

  .about__group-1 {
    height: 63.5rem;
  }

  .about__group-1 h2 {
    padding-top: 10rem;
  }

  .about__group-2 h2,
  .about__group-3 h2 {
    padding-top: 5rem;
  }

  .about__group-2 {
    height: 65.8rem;
  }

  .about__group-3 {
    height: 77.2rem;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  html {
    font-size: 4px;
  }

  /* form styles */
  .form h2 {
    font-size: 3.7rem;
    line-height: 5rem;
  }

  .form h3 {
    font-size: 2.9rem;
    line-height: 4rem;
  }

  .form h4 {
    font-size: 2.3rem;
  }

  .form form input {
    font-size: 2.5rem;
    padding: 2rem 4rem;
  }

  .form-top {
    margin: 0 auto;
    max-width: 95%;
  }

  .form-top .invalid-feedback {
    font-size: 3rem;
  }

  .form-mid {
    max-width: 60%;
  }

  .form-mid h4{
    font-size: 2.9rem;
    line-height: 4rem;
    margin-bottom: 10rem;
  }

  .form-mid label {
    font-size: 2.9rem;
  }

  .form-mid__check .invalid-feedback {
    font-size: 3rem;
  }

  .custom-control-label::before {
    top: -7rem;
    height: 6rem;
    width: 6rem;
  }

  .custom-control-label::after {
    top: -7rem;
    height: 6rem;
    width: 6rem;
  }

  .form-bot {
    margin: 0 auto 5rem;
    max-width: 95%;
  }

  .form-bot__check label {
    font-size: 2.5rem;
  }

  .form-bot__check input {
    height: 6rem;
    width: 6rem;
  }

  .form form input[type="submit"] {
    font-size: 3.5rem;
    padding: 1rem 3rem;
  }

  /* about styles */
  .about {
    height: 89.7rem;
  }

  .about__group-1 .container,
  .about__group-2 .container,
  .about__group-3 .container {
    width: 375px;
  }

  .about__group-1 p,
  .about__group-2 p,
  .about__group-3 p {
    font-size: 1.8rem;
  }

  .about__group-1 {
    height: 57rem;
  }

  .about__group-1 h2 {
    padding-top: 10rem;
  }

  .about__group-2 h2,
  .about__group-3 h2 {
    padding-top: 2rem;
  }

  .about__group-2 {
    height: 56.8rem;
  }

  .about__group-3 {
    height: 77.2rem;
  }
}

@media (max-width: 375.98px) {
  html {
    font-size: 3px;
  }

  /* about styles */
  .about {
    height: 105.7rem;
  }

  .about__group-1 .container,
  .about__group-2 .container,
  .about__group-3 .container {
    width: 320px;
  }

  .about__group-1 {
    height: 61rem;
  }

  .about__group-2 {
    height: 62.8rem;
  }
}